# [o3] - Proyecto Ozono - ETL_Clima  - v0

## [.0] AEMET Y AYUNT -> DATOS A MES CERRADO

In [74]:
from __future__ import print_function
import time
import swagger_client
from swagger_client.rest import ApiException
from pprint import pprint
import datetime
import findspark
findspark.init('/home/rulicering/BigData/spark-2.4.5-bin-hadoop2.7')
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
import pandas as pd
import requests
import numpy as np
import re as reg
from pyspark.sql.types import StructField,StringType,IntegerType,StructType,FloatType

In [75]:
spark = SparkSession.builder.appName('clima').getOrCreate()

## Cargamos Estaciones.csv

In [76]:
df_estaciones = spark.read.csv("/home/rulicering/Datos_Proyecto_Ozono/Procesado/Estaciones/Estaciones.csv",inferSchema= True, header= True)

# AEMET

###  Codegen + API

In [77]:
configuration = swagger_client.Configuration()
configuration.api_key['api_key'] = 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJwcm95ZWN0by5vem9uby5jb250YWN0QGdtYWlsLmNvbSIsImp0aSI6ImNlZDZiZWQ2LTUyN2EtNGQ2Yi1iOGMyLWU1YmRlNzk3YzYzZSIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNTg2NzE3MTE2LCJ1c2VySWQiOiJjZWQ2YmVkNi01MjdhLTRkNmItYjhjMi1lNWJkZTc5N2M2M2UiLCJyb2xlIjoiIn0.U3b4ELAg-9eJcwgpzr4QgkF-Yj6jb9gw0DOa8sqAwHo'

In [78]:
#api_instance = swagger_client.AvisosCapApi(swagger_client.ApiClient(configuration))
api_observacion = swagger_client.ObservacionConvencionalApi(swagger_client.ApiClient(configuration))
master_api_instance = swagger_client.MaestroApi(swagger_client.ApiClient(configuration))
api_valores = swagger_client.ValoresClimatologicosApi(swagger_client.ApiClient(configuration))

### Formateo datos

In [6]:
def data_to_sparkdf(data):
    #Encoding "ISO-8859"
    data_v = data.decode(encoding ='ISO-8859-15')
    data_v0 = data_v
    # Clean the data
    # Step 0 
    for i in range(20):
        if(data_v0[i]=='{'):
            data_v0 = data_v0[i:]
    for i in range(20):
        if(data_v0[-i]=='}'):
            data_v0 = data_v0[:-i+1]
    # Step 1     
    data_v1 = data_v0
    data_v1 = data_v1.replace("\n", "")
    
    # Step 2
    data_v2 = data_v1.replace("},","}},")
    
    # Step 3
    patron =['\s\s','\s"','"\s','\s{']
    replace = [' ','"','"','{']
    
    data_v3 = data_v2
    for i in range(len(patron)):
        data_v3 = reg.sub(patron[i],replace[i],data_v3)

    # Step 4
    data_v4 = data_v3.replace("\",\"","\";\"")
    
    # Step 5
    data_cleaned = data_v4.split("},")

    # String to List of dictionaries
    diccionarios = []
    for fila in data_cleaned:
        #print(fila)
        keys = []
        values = []
        for pareja in fila[1:-1].split(';'):
            #print("Pareja= ",pareja)
            elems =pareja.split(':')
            #print("Elementos= ",elems)
            keys.append(elems[0][1:-1])
            values.append(elems[1][1:-1])
        diccionarios.append(dict(zip(keys,values)))

    # Schema for the new DF
    data_schema = [StructField('altitud',StringType(), True), #Tercer argumento = nullable
                   StructField('dir', StringType(), True),
                   StructField('fecha', StringType(), True),
                   StructField('horaPresMax', StringType(), True),
                   StructField('horaPresMin', StringType(), True),
                   StructField('horaracha', StringType(), True),
                   StructField('horatmax', StringType(), True),
                   StructField('horatmin',StringType(), True), #Tercer argumento = nullable
                   StructField('indicativo', StringType(), True),
                   StructField('nombre', StringType(), True),
                   StructField('prec', StringType(), True),
                   StructField('presMax', StringType(), True),
                   StructField('presMin',StringType(), True), #Tercer argumento = nullable
                   StructField('provincia', StringType(), True),
                   StructField('racha', StringType(), True),
                   StructField('sol', StringType(), True),
                   StructField('tmax', StringType(), True),
                   StructField('tmin', StringType(), True),
                   StructField('velmedia', StringType(), True)
                  ]
    # Create and return the new DF
    return spark.createDataFrame(diccionarios,schema = StructType(data_schema))

## Request datos

In [7]:
def req_to_df(codigo,fecha_ini,fecha_fin):
    print("CODIGO: ", codigo, "FECHAS", fecha_ini,fecha_fin)
    try:
        api_response = api_valores.climatologas_diarias_(fecha_ini, fecha_fin,codigo)
        pprint(api_response)
    except ApiException as e:
        print("Exception: %s\n" % e)
    r = requests.get(api_response.datos)
    data = r.content
    df_aemet = data_to_sparkdf(data)
    print("OK")
    
    return df_aemet.select('fecha','indicativo','dir','prec','presMax','presMin','tmax','tmin','velmedia')
    # Las estaciones del ayunt no tienen datos de insolacion (sol)
    #return df_aemet.select('fecha','indicativo','dir','prec','presMax','presMin','sol','tmax','tmin','velmedia')

In [8]:
def datos_aemet(codigos_estaciones,fecha_ini,fecha_fin):
    lista_df =[]
    for codigo in codigos_estaciones:
        lista_df.append(req_to_df(codigo,fecha_ini,fecha_fin))
    #Unimos
    df = lista_df[0]
    for i in range(1,len(lista_df)):
        df = df.union(lista_df[i])
    return df

# 2014-2018

### Estaciones AEMET

In [9]:
df_estaciones_aemet_14 = df_estaciones.filter(df_estaciones["UTILIZADA_14"])

In [10]:
cod_estaciones_aemet_14 = [elem[0] for elem in df_estaciones_aemet_14.select("CODIGO_CORTO").collect()]

In [11]:
cod_estaciones_aemet_14

['3129', '3194U', '3195', '3200']

### Fechas

In [12]:
#Fechas inicio y fecha fin datos
fecha_ini = datetime.date(2014,1,1)
fecha_fin = datetime.date(2018,12,31)

formato= "%Y-%m-%dT%H:%M:%SUTC"

fecha_ini_str = fecha_ini.strftime(formato)
fecha_fin_str = fecha_fin.strftime(formato)

### Obtenemos los datos

In [13]:
df_aemet_14 = datos_aemet(cod_estaciones_aemet_14,fecha_ini_str,fecha_fin_str)

CODIGO:  3129 FECHAS 2014-01-01T00:00:00UTC 2018-12-31T00:00:00UTC
{'datos': 'https://opendata.aemet.es/opendata/sh/60b9dbb9',
 'descripcion': 'exito',
 'estado': 200,
 'metadatos': 'https://opendata.aemet.es/opendata/sh/b3aa9d28'}
OK
CODIGO:  3194U FECHAS 2014-01-01T00:00:00UTC 2018-12-31T00:00:00UTC
{'datos': 'https://opendata.aemet.es/opendata/sh/1fc06b17',
 'descripcion': 'exito',
 'estado': 200,
 'metadatos': 'https://opendata.aemet.es/opendata/sh/b3aa9d28'}
OK
CODIGO:  3195 FECHAS 2014-01-01T00:00:00UTC 2018-12-31T00:00:00UTC
{'datos': 'https://opendata.aemet.es/opendata/sh/2f5ad6b1',
 'descripcion': 'exito',
 'estado': 200,
 'metadatos': 'https://opendata.aemet.es/opendata/sh/b3aa9d28'}
OK
CODIGO:  3200 FECHAS 2014-01-01T00:00:00UTC 2018-12-31T00:00:00UTC
{'datos': 'https://opendata.aemet.es/opendata/sh/463c4f96',
 'descripcion': 'exito',
 'estado': 200,
 'metadatos': 'https://opendata.aemet.es/opendata/sh/b3aa9d28'}
OK

## 2019-NOW

### Estaciones AEMET

In [14]:
df_estaciones_aemet_19 = df_estaciones.filter(df_estaciones["MIDE_CLIMA_AEMET"]>0).filter(df_estaciones["UTILIZADA_19"])

In [15]:
cod_estaciones_aemet_19 = [elem[0] for elem in df_estaciones_aemet_19.select("CODIGO_CORTO").collect()]

In [16]:
cod_estaciones_aemet_19

['3129', '3194U', '3195']

### Fechas

In [17]:
#Fechas inicio y fecha fin datos
fecha_ini = datetime.date(2019,1,1)
ultimo_dia_mes_cerrado = datetime.date.today().replace(day=1) - datetime.timedelta(days=1)
fecha_fin = ultimo_dia_mes_cerrado
formato= "%Y-%m-%dT%H:%M:%SUTC"

fecha_ini_str = fecha_ini.strftime(formato)
fecha_fin_str = fecha_fin.strftime(formato)

In [18]:
fecha_fin_str

'2020-03-31T00:00:00UTC'

### Obtenemos los datos

In [19]:
df_aemet_19 = datos_aemet(cod_estaciones_aemet_19,fecha_ini_str,fecha_fin_str)

CODIGO:  3129 FECHAS 2019-01-01T00:00:00UTC 2020-03-31T00:00:00UTC
{'datos': 'https://opendata.aemet.es/opendata/sh/471202e1',
 'descripcion': 'exito',
 'estado': 200,
 'metadatos': 'https://opendata.aemet.es/opendata/sh/b3aa9d28'}
OK
CODIGO:  3194U FECHAS 2019-01-01T00:00:00UTC 2020-03-31T00:00:00UTC
{'datos': 'https://opendata.aemet.es/opendata/sh/2ef46c46',
 'descripcion': 'exito',
 'estado': 200,
 'metadatos': 'https://opendata.aemet.es/opendata/sh/b3aa9d28'}
OK
CODIGO:  3195 FECHAS 2019-01-01T00:00:00UTC 2020-03-31T00:00:00UTC
{'datos': 'https://opendata.aemet.es/opendata/sh/f4381601',
 'descripcion': 'exito',
 'estado': 200,
 'metadatos': 'https://opendata.aemet.es/opendata/sh/b3aa9d28'}
OK

## CONCAT

In [20]:
df_aemet = df_aemet_14.union(df_aemet_19).orderBy("fecha")

## AVERAGE TEMPERATURA Y PRESION

In [57]:
pd_aemet = df_aemet.toPandas()

In [58]:
pd_aemet.dtypes

fecha         object
indicativo    object
dir           object
prec          object
presMax       object
presMin       object
tmax          object
tmin          object
velmedia      object
dtype: object

#### Cambias comas por puntos

In [59]:
pd_aemet["presMax"]  =  [reg.sub(',','.',str(x)) for x in pd_aemet["presMax"]]
pd_aemet["presMin"]  =  [reg.sub(',','.',str(x)) for x in pd_aemet["presMin"]]
pd_aemet["tmax"]  =  [reg.sub(',','.',str(x)) for x in pd_aemet["tmax"]]
pd_aemet["tmin"]  =  [reg.sub(',','.',str(x)) for x in pd_aemet["tmin"]]

In [60]:
def media(vals):
    validos = 0
    nulos = 0
    media = 0
    for i in range(len(vals)):
        if(vals[i] != 'None')or(vals[i] is None):
            validos += 1
            media += float(vals[i])
        else:
            nulos +=1
    if(nulos == len(vals)):
        return None
    else :
        return media/validos

In [61]:
pd_aemet["pres"] = [media([pmax,pmin])for pmax,pmin in zip(pd_aemet["presMax"].values, pd_aemet["presMin"].values)]
pd_aemet["temp"] = [media([pmax,pmin])for pmax,pmin in zip(pd_aemet["tmax"].values, pd_aemet["tmin"].values)]

In [62]:
pd_aemet.dtypes

fecha          object
indicativo     object
dir            object
prec           object
presMax        object
presMin        object
tmax           object
tmin           object
velmedia       object
pres          float64
temp          float64
dtype: object

## [estacion,fecha,dir,pec,velmedia,pres,temp]

In [63]:
pd_aemet = pd_aemet[["indicativo","fecha","dir","prec","velmedia","pres","temp"]]

## "None" a Nulo

In [28]:
#pd_aemet = pd_aemet.replace("None", np.nan)

In [69]:
pd_aemet = pd_aemet.replace(('None',None),np.nan)

# AYUNTAMIENTO

 Todas las estaciones miden todas las variables:
 
        SI -81 - VELOCIDAD VIENTO   
        SI -82 - DIR. DE VIENTO       
        SI -83 - TEMPERATURA
        NO -86 - HUMEDAD RELATIVA
        SI -87 - PRESION BARIOMETRICA
        NO -88 - RADIACION SOLAR
        SI -89 - PRECIPITACIÓN

## Estaciones

In [30]:
df_estaciones_ayunt_19 = df_estaciones.filter(df_estaciones["MIDE_CLIMA"]>0).filter(df_estaciones["UTILIZADA_19"])

In [31]:
cod_estaciones_ayunt_19 = [elem[0] for elem in df_estaciones_ayunt_19.select("CODIGO_CORTO").collect()]

In [32]:
cod_estaciones_ayunt_19

['16',
 '18',
 '24',
 '36',
 '39',
 '54',
 '58',
 '59',
 '8',
 '103',
 '107',
 '109',
 '110',
 '112',
 '114']

In [33]:
anos = [2019,2020]
urls = ["https://datos.madrid.es/egob/catalogo/300351-0-meteorologicos-diarios.csv",
        "https://datos.madrid.es/egob/catalogo/300351-3-meteorologicos-diarios.csv"]

In [34]:
def pd_read_to_df(url):
    pdf = pd.read_csv(url,sep=';')
    df = spark.createDataFrame(pdf)
    return df

In [35]:
lista = [pd_read_to_df(urls[i])for i in range(len(anos))]

In [49]:
df_ayunt_19 = lista[0]
for i in range(1,len(lista)):
    df_ayunt_19=df_ayunt_19.union(lista[i])

## Filtrar estaciones

In [50]:
df_ayunt_19 = df_ayunt_19.filter(df_ayunt_19["ESTACION"].isin(cod_estaciones_ayunt_19))

## Darle formato

In [51]:
df_ayunt_19 = df_ayunt_19.filter(df_ayunt_19["MAGNITUD"].isin(["81","82","83","87","89"]))

In [52]:
df_ayunt_19 = df_ayunt_19.select('ESTACION','MAGNITUD','ANO', 'MES', 'D01', 'V01', 'D02', 'V02', 'D03', 'V03', 'D04', 'V04', 'D05', 'V05', 'D06', 'V06', 'D07', 'V07', 'D08', 'V08', 'D09', 'V09', 'D10', 'V10', 'D11', 'V11', 'D12', 'V12', 'D13', 'V13', 'D14', 'V14', 'D15', 'V15', 'D16', 'V16', 'D17', 'V17', 'D18','V18', 'D19', 'V19', 'D20', 'V20', 'D21', 'V21', 'D22', 'V22', 'D23', 'V23', 'D24', 'V24', 'D25', 'V25', 'D26', 'V26', 'D27', 'V27', 'D28', 'V28', 'D29', 'V29', 'D30', 'V30', 'D31', 'V31')

In [53]:
def dar_formato(df):
    data_schema = [StructField('ESTACION',IntegerType(), False), 
              StructField('MAGNITUD',IntegerType(), False),
              StructField('ANO',IntegerType(), False),
              StructField('MES',IntegerType(), False),
              StructField('VALOR',FloatType(), True),
              StructField('VALIDO',IntegerType(), False),
              StructField('DIA',IntegerType(), False)]
    struct = StructType(fields = data_schema)
    
    df_v1 = spark.createDataFrame(spark.sparkContext.emptyRDD(),struct)
    
    for i in range(1,32): #Días  
        valor = 'D%02d' % i
        valido = 'V%02d' % i
        df_v1 = df_v1.union(df.select("ESTACION","MAGNITUD","ANO","MES",valor,valido).withColumn('DIA', F.lit(i)))

    df = df_v1
    
    df = df.withColumn("FECHA",df["ANO"]*10000 + df["MES"]*100 + df["DIA"])
    
    cols = df.columns
    cols = cols[:4] + cols[-2:] + cols[-4:-2]
    df= df[cols]
    
    df.select("VALIDO").groupBy("VALIDO").count().show()

    df = df.withColumn("VALOR VALIDADO",F.when(F.col("VALIDO")== 'N',None).otherwise(F.col("VALOR")) )
    df = df.select("ESTACION","MAGNITUD","ANO","MES","DIA","FECHA",df["VALOR VALIDADO"].alias("VALOR"))
    
    df = df.groupBy('ESTACION','ANO', 'MES', 'DIA',"FECHA").pivot("MAGNITUD").sum("VALOR").orderBy("FECHA")
    
    #Esto se puede hacer en el paso 6
    df_31 = df.filter(df["MES"].isin([1,3,5,7,8,10,12]))
    df_30 = df.filter((df["MES"].isin([4,6,9,11])) & (df["DIA"] <31))
    df_feb = df.filter((df["MES"] == 2) & (df["DIA"] <30)) #Para no excluir los bisiestos
    df = df_31.union(df_30).union(df_feb)
    
    return df

In [54]:
df_ayunt_19 = dar_formato(df_ayunt_19)

+------+-----+
|VALIDO|count|
+------+-----+
|     V|14744|
|     N|  508|
+------+-----+

In [43]:
pd_ayunt_19 = df_ayunt_19.toPandas()

In [44]:
pd_ayunt_19

      ESTACION   ANO  MES  DIA     FECHA    81     82    83     87   89
0           24  2019    1    1  20190101  0.69   22.0   4.4  957.0  0.0
1            8  2019    1    1  20190101   NaN    NaN   8.1    NaN  NaN
2          107  2019    1    1  20190101  0.33   14.0   5.9  949.0  0.0
3           39  2019    1    1  20190101   NaN    NaN   NaN    NaN  0.0
4          103  2019    1    1  20190101  0.09  308.0   2.7  678.0  0.0
...        ...   ...  ...  ...       ...   ...    ...   ...    ...  ...
6393        54  2020    2   29  20200229  3.27  256.0  10.4    NaN  0.0
6394        18  2020    2   29  20200229   NaN    NaN  11.2    NaN  NaN
6395        36  2020    2   29  20200229   NaN    NaN  10.3    NaN  NaN
6396       103  2020    2   29  20200229  3.75  232.0   8.0  946.0  0.0
6397         8  2020    2   29  20200229   NaN    NaN  10.4    NaN  NaN

[6398 rows x 10 columns]

# UNION

In [73]:
#Falta

# TODO

TECNICA A SEGUIR:
    1. Si no hay datos para una variable se coge la media.
    
AEMET:
    DONE - 1. Unir ambos dataframes
    2. Sacar columnas average para temperatura y presion
    3. Datos nulos se coge el average de la ciudad
    
AYUNT:
    1. Filtar solo las estaciones que queremos.
    2. Formato (Como en el de estaciones) PIVOT
    3. Quedarnos con las columnas que queramos
MERGE:
    1. Comprobar que el formato de los datos es el mismo
    
FINALIDAD:
    1. Hacer la estructura con datos diarios y luego sacar los horarios a partir 
    de 2019.

In [79]:
 try:
    api_response = api_observacion.datos_de_observacin__tiempo_actual_1(3195)
    pprint(api_response)
except ApiException as e:
    print("Exception: %s\n" % e)

{'datos': 'https://opendata.aemet.es/opendata/sh/d592c85c',
 'descripcion': 'exito',
 'estado': 200,
 'metadatos': 'https://opendata.aemet.es/opendata/sh/55c2971b'}