# [o3] - Proyecto Ozono - ETL_Clima  - v0

## [.0] AEMET Y AYUNT -> DATOS A MES CERRADO

In [125]:
from __future__ import print_function
import time
import swagger_client
from swagger_client.rest import ApiException
from pprint import pprint
import datetime
import findspark
findspark.init('/home/rulicering/BigData/spark-2.4.5-bin-hadoop2.7')
from pyspark.sql import SparkSession
import pandas as pd
import requests
import re as reg
from pyspark.sql.types import StructField,StringType,IntegerType,StructType,FloatType

In [3]:
spark = SparkSession.builder.appName('clima').getOrCreate()

## Cargamos Estaciones.csv

In [4]:
df_estaciones = spark.read.csv("/home/rulicering/Datos_Proyecto_Ozono/Procesado/Estaciones/Estaciones.csv",inferSchema= True, header= True)

# AEMET

###  Codegen + API

In [5]:
configuration = swagger_client.Configuration()
configuration.api_key['api_key'] = 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJwcm95ZWN0by5vem9uby5jb250YWN0QGdtYWlsLmNvbSIsImp0aSI6ImNlZDZiZWQ2LTUyN2EtNGQ2Yi1iOGMyLWU1YmRlNzk3YzYzZSIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNTg2NzE3MTE2LCJ1c2VySWQiOiJjZWQ2YmVkNi01MjdhLTRkNmItYjhjMi1lNWJkZTc5N2M2M2UiLCJyb2xlIjoiIn0.U3b4ELAg-9eJcwgpzr4QgkF-Yj6jb9gw0DOa8sqAwHo'

In [6]:
#api_instance = swagger_client.AvisosCapApi(swagger_client.ApiClient(configuration))
api_observacion = swagger_client.ObservacionConvencionalApi(swagger_client.ApiClient(configuration))
master_api_instance = swagger_client.MaestroApi(swagger_client.ApiClient(configuration))
api_valores = swagger_client.ValoresClimatologicosApi(swagger_client.ApiClient(configuration))

### Formateo datos

In [38]:
def data_to_sparkdf(data):
    #Encoding "ISO-8859"
    data_v = data.decode(encoding ='ISO-8859-15')
    data_v0 = data_v
    # Clean the data
    # Step 0 
    for i in range(20):
        if(data_v0[i]=='{'):
            data_v0 = data_v0[i:]
    for i in range(20):
        if(data_v0[-i]=='}'):
            data_v0 = data_v0[:-i+1]
    # Step 1     
    data_v1 = data_v0
    data_v1 = data_v1.replace("\n", "")
    
    # Step 2
    data_v2 = data_v1.replace("},","}},")
    
    # Step 3
    patron =['\s\s','\s"','"\s','\s{']
    replace = [' ','"','"','{']
    
    data_v3 = data_v2
    for i in range(len(patron)):
        data_v3 = reg.sub(patron[i],replace[i],data_v3)

    # Step 4
    data_v4 = data_v3.replace("\",\"","\";\"")
    
    # Step 5
    data_cleaned = data_v4.split("},")

    # String to List of dictionaries
    diccionarios = []
    for fila in data_cleaned:
        #print(fila)
        keys = []
        values = []
        for pareja in fila[1:-1].split(';'):
            #print("Pareja= ",pareja)
            elems =pareja.split(':')
            #print("Elementos= ",elems)
            keys.append(elems[0][1:-1])
            values.append(elems[1][1:-1])
        diccionarios.append(dict(zip(keys,values)))

    # Schema for the new DF
    data_schema = [StructField('altitud',StringType(), True), #Tercer argumento = nullable
                   StructField('dir', StringType(), True),
                   StructField('fecha', StringType(), True),
                   StructField('horaPresMax', StringType(), True),
                   StructField('horaPresMin', StringType(), True),
                   StructField('horaracha', StringType(), True),
                   StructField('horatmax', StringType(), True),
                   StructField('horatmin',StringType(), True), #Tercer argumento = nullable
                   StructField('indicativo', StringType(), True),
                   StructField('nombre', StringType(), True),
                   StructField('prec', StringType(), True),
                   StructField('presMax', StringType(), True),
                   StructField('presMin',StringType(), True), #Tercer argumento = nullable
                   StructField('provincia', StringType(), True),
                   StructField('racha', StringType(), True),
                   StructField('sol', StringType(), True),
                   StructField('tmax', StringType(), True),
                   StructField('tmin', StringType(), True),
                   StructField('velmedia', StringType(), True)
                  ]
    # Create and return the new DF
    return spark.createDataFrame(diccionarios,schema = StructType(data_schema))

## Request datos

In [68]:
def req_to_df(codigo,fecha_ini,fecha_fin):
    print("CODIGO: ", codigo, "FECHAS", fecha_ini,fecha_fin)
    try:
        api_response = api_valores.climatologas_diarias_(fecha_ini, fecha_fin,codigo)
        #pprint(api_response)
    except ApiException as e:
        print("Exception: %s\n" % e)
    r = requests.get(api_response.datos)
    data = r.content
    df_aemet = data_to_sparkdf(data)
    print("OK")
    return df_aemet.select('fecha','indicativo','dir','prec','presMax','presMin','sol','tmax','tmin','velmedia')

In [59]:
def datos_aemet(codigos_estaciones,fecha_ini,fecha_fin):
    lista_pd =[]
    for codigo in codigos_estaciones:
        lista_pd.append(req_to_df(codigo,fecha_ini,fecha_fin))
    #Unimos
    df = lista_pd[0]
    for i in range(1,len(lista_pd)):
        df = df.union(lista_pd[i])
    return df

# 2014-2018

### Estaciones AEMET

In [60]:
df_estaciones_aemet_14 = df_estaciones.filter(df_estaciones["UTILIZADA_14"])

In [61]:
cod_estaciones_aemet_14 = [elem[0] for elem in df_estaciones_aemet_14.select("CODIGO_CORTO").collect()]

In [62]:
cod_estaciones_aemet_14

['3129', '3194U', '3195', '3200']

### Fechas

In [63]:
#Fechas inicio y fecha fin datos
fecha_ini = datetime.date(2014,1,1)
fecha_fin = datetime.date(2018,12,31)

formato= "%Y-%m-%dT%H:%M:%SUTC"

fecha_ini_str = fecha_ini.strftime(formato)
fecha_fin_str = fecha_fin.strftime(formato)

### Obtenemos los datos

In [128]:
df_aemet_14 = datos_aemet(cod_estaciones_aemet_14,fecha_ini_str,fecha_fin_str)

CODIGO:  3129 FECHAS 2019-01-01T00:00:00UTC 2020-03-31T00:00:00UTC
OK
CODIGO:  3194U FECHAS 2019-01-01T00:00:00UTC 2020-03-31T00:00:00UTC
OK
CODIGO:  3195 FECHAS 2019-01-01T00:00:00UTC 2020-03-31T00:00:00UTC
OK
CODIGO:  3200 FECHAS 2019-01-01T00:00:00UTC 2020-03-31T00:00:00UTC
OK

## 2019-NOW

### Estaciones AEMET

In [90]:
df_estaciones_aemet_19 = df_estaciones.filter(df_estaciones["MIDE_CLIMA_AEMET"]>0).filter(df_estaciones["UTILIZADA_19"])

In [91]:
cod_estaciones_aemet_19 = [elem[0] for elem in df_estaciones_aemet_19.select("CODIGO_CORTO").collect()]

In [92]:
cod_estaciones_aemet_19

['3129', '3194U', '3195']

### Fechas

In [110]:
#Fechas inicio y fecha fin datos
fecha_ini = datetime.date(2019,1,1)
ultimo_dia_mes_cerrado = datetime.date.today().replace(day=1) - datetime.timedelta(days=1)
fecha_fin = ultimo_dia_mes_cerrado
formato= "%Y-%m-%dT%H:%M:%SUTC"

fecha_ini_str = fecha_ini.strftime(formato)
fecha_fin_str = fecha_fin.strftime(formato)

In [111]:
fecha_fin_str

'2020-03-31T00:00:00UTC'

### Obtenemos los datos

In [129]:
df_aemet_19 = datos_aemet(cod_estaciones_aemet_19,fecha_ini_str,fecha_fin_str)

CODIGO:  3129 FECHAS 2019-01-01T00:00:00UTC 2020-03-31T00:00:00UTC
OK
CODIGO:  3194U FECHAS 2019-01-01T00:00:00UTC 2020-03-31T00:00:00UTC
OK
CODIGO:  3195 FECHAS 2019-01-01T00:00:00UTC 2020-03-31T00:00:00UTC
OK

# AYUNTAMIENTO

## Estaciones

In [119]:
df_estaciones_ayunt_19 = df_estaciones.filter(df_estaciones["MIDE_CLIMA"]>0).filter(df_estaciones["UTILIZADA_19"])

In [120]:
cod_estaciones_ayunt_19 = [elem[0] for elem in df_estaciones_ayunt_19.select("CODIGO_CORTO").collect()]

In [121]:
cod_estaciones_ayunt_19

['16',
 '18',
 '24',
 '36',
 '39',
 '54',
 '58',
 '59',
 '8',
 '103',
 '107',
 '109',
 '110',
 '112',
 '114']

In [122]:
anos = [2019,2020]
urls = ["https://datos.madrid.es/egob/catalogo/300351-0-meteorologicos-diarios.csv",
        "https://datos.madrid.es/egob/catalogo/300351-3-meteorologicos-diarios.csv"]

In [126]:
def pd_read_to_df(url):
    pdf = pd.read_csv(url,sep=';')
    df = spark.createDataFrame(pdf)
    return df

In [127]:
lista = [pd_read_to_df(urls[i])for i in range(len(anos))]

In [131]:
df_ayunt_19 = lista[0]
for i in range(1,len(lista)):
    df_ayunt_19=df_ayunt_19.union(lista[i])

In [132]:
pd_ayunt_19 = df_ayunt_19.toPandas()

In [133]:
pd_ayunt_19.head(5)

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,102,81,28079102_81_98,2019,1,0.66,V,1.16,...,2.57,V,2.93,V,3.23,V,3.18,V,4.72,V
1,28,79,102,81,28079102_81_98,2019,2,4.32,V,2.98,...,1.36,V,0.97,V,0.00,N,0.00,N,0.00,N
2,28,79,102,81,28079102_81_98,2019,3,1.57,V,1.13,...,1.48,V,1.69,V,2.89,V,1.99,V,1.72,V
3,28,79,102,81,28079102_81_98,2019,4,1.32,V,1.21,...,1.00,V,1.82,V,1.97,V,1.84,V,0.00,N
4,28,79,102,81,28079102_81_98,2019,5,2.06,V,2.21,...,1.77,V,3.32,V,3.76,V,3.04,V,1.89,V

# TODO

AEMET:
    1. Unir ambos dataframes
    2. Sacar columnas average para temperatura y presion
AYUNT:
    1. Filtar solo las estaciones que queremos.
    2. Formato (Como en el de estaciones) PIVOT
    3. Quedarnos con las columnas que queramos
MERGE:
    1. Comprobar que el formato de los datos es el mismo