# [o3] - Proyecto Ozono - ETL_AEMET  - v0

###  Utilizando el codegen

In [1]:
from __future__ import print_function
import time
import swagger_client
from swagger_client.rest import ApiException
from pprint import pprint
import datetime
import findspark
findspark.init('/home/rulicering/BigData/spark-2.4.5-bin-hadoop2.7')
from pyspark.sql import SparkSession
import pandas as pd

In [2]:
spark = SparkSession.builder.appName('clima').getOrCreate()

In [3]:
configuration = swagger_client.Configuration()
configuration.api_key['api_key'] = 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJwcm95ZWN0by5vem9uby5jb250YWN0QGdtYWlsLmNvbSIsImp0aSI6ImNlZDZiZWQ2LTUyN2EtNGQ2Yi1iOGMyLWU1YmRlNzk3YzYzZSIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNTg2NzE3MTE2LCJ1c2VySWQiOiJjZWQ2YmVkNi01MjdhLTRkNmItYjhjMi1lNWJkZTc5N2M2M2UiLCJyb2xlIjoiIn0.U3b4ELAg-9eJcwgpzr4QgkF-Yj6jb9gw0DOa8sqAwHo'

In [4]:
#api_instance = swagger_client.AvisosCapApi(swagger_client.ApiClient(configuration))
api_observacion = swagger_client.ObservacionConvencionalApi(swagger_client.ApiClient(configuration))
master_api_instance = swagger_client.MaestroApi(swagger_client.ApiClient(configuration))
api_valores = swagger_client.ValoresClimatologicosApi(swagger_client.ApiClient(configuration))

In [5]:
#Fechas inicio y fecha fin datos
fecha_ini = datetime.date(2019,1,1)
fecha_fin = datetime.date(2019,1,10)

formato= "%Y-%m-%dT%H:%M:%SUTC"

fecha_ini_str = fecha_ini.strftime(formato)
fecha_fin_str = fecha_fin.strftime(formato)

## Vamos a sacar todas las estaciones de medición que estén en Madrid centro

In [6]:
try:
    api_response = api_valores.inventario_de_estaciones__valores_climatolgicos_()
    pprint(api_response)
except ApiException as e:
    print("Exception: %s\n" % e)

{'datos': 'https://opendata.aemet.es/opendata/sh/6590b8eb',
 'descripcion': 'exito',
 'estado': 200,
 'metadatos': 'https://opendata.aemet.es/opendata/sh/0556af7a'}

In [9]:
import requests,json

r = requests.get(api_response.datos)
data = r.content
r.headers

{'Date': 'Tue, 14 Apr 2020 13:04:27 GMT', 'Server': 'Apache/2.2.15 (CentOS)', 'Remaining-request-count': '149', 'aemet_mensaje': 'Se han encontrado 291 estaciones', 'aemet_estado': '200', 'aemet_num': '291', 'Accept': '*/*', 'Connection': 'close', 'Content-Length': '53551', 'Content-Type': 'text/plain;charset=ISO-8859-15'}

for elem in r.headers:
    print(elem)

r.headers.get("Content-Type")

In [14]:
data_v = data.decode(encoding ='ISO-8859-15')
#type(data_v)
#data_v

In [17]:
data_v0 = data_v

In [18]:
for i in range(20):
    if(data_v0[i]=='{'):
        data_v0 = data_v0[i:]

for i in range(20):
    if(data_v0[-i]=='}'):
        data_v0 = data_v0[:-i+1]
#data_v0

In [19]:
data_v1 = data_v0

In [20]:
data_v1 = data_v1.replace("\n", "")

In [21]:
#data_v1

In [22]:
data_v2 = data_v1.replace("},","}},")

In [23]:
import re as reg

In [24]:
patron =['\s\s','\s"','"\s','\s{']

replace = [' ','"','"','{']

data_v3 = data_v2
for i in range(len(patron)):
    data_v3 = reg.sub(patron[i],replace[i],data_v3)

In [25]:
#data_v3

In [26]:
data_v4 = data_v3.replace("\",\"","\";\"")

In [27]:
#data_v4

In [28]:
data_v5 = data_v4.split("},")

In [29]:
#data_v5

In [30]:
data_v5[0]

'{"latitud":"413515N";"provincia":"BARCELONA";"altitud":"74";"indicativo":"0252D";"nombre":"ARENYS DE MAR";"indsinop":"08186";"longitud":"023224E"}'

In [31]:
data_v5[0][1:-1]
#Son strings cada fila

'"latitud":"413515N";"provincia":"BARCELONA";"altitud":"74";"indicativo":"0252D";"nombre":"ARENYS DE MAR";"indsinop":"08186";"longitud":"023224E"'

In [32]:
def crear_diccionarios(df):
    lista_de_diccionarios = []
    for fila in df:
        #print(fila)
        keys = []
        values = []
        for pareja in fila[1:-1].split(';'):
            #print("Pareja= ",pareja)
            elems =pareja.split(':')
            #print("Elementos= ",elems)
            keys.append(elems[0][1:-1])
            values.append(elems[1][1:-1])
        lista_de_diccionarios.append(dict(zip(keys,values)))
    return lista_de_diccionarios

In [33]:
diccionarios = crear_diccionarios(data_v5)

In [34]:
len(diccionarios)

291

In [35]:
#for i in range(len(diccionarios)):
#    print(diccionarios[i])

In [36]:
################################################################################################3

In [37]:
diccionarios[0]

{'latitud': '413515N',
 'provincia': 'BARCELONA',
 'altitud': '74',
 'indicativo': '0252D',
 'nombre': 'ARENYS DE MAR',
 'indsinop': '08186',
 'longitud': '023224E'}

In [38]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType,FloatType

data_schema = [StructField('latitud',StringType(), True), #Tercer argumento = nullable
               StructField('provincia', StringType(), True),
               StructField('altitud', StringType(), True),
               StructField('indicativo', StringType(), True),
               StructField('nombre', StringType(), True),
               StructField('indsinop', StringType(), True),
               StructField('longitud', StringType(), True)                    
              ]

In [39]:
df = spark.createDataFrame(diccionarios,schema = StructType(data_schema))

In [40]:
df.head(5)

[Row(latitud='413515N', provincia='BARCELONA', altitud='74', indicativo='0252D', nombre='ARENYS DE MAR', indsinop='08186', longitud='023224E'),
 Row(latitud='411734N', provincia='BARCELONA', altitud='4', indicativo='0076', nombre='BARCELONA AEROPUERTO', indsinop='08181', longitud='020412E'),
 Row(latitud='412506N', provincia='BARCELONA', altitud='408', indicativo='0200E', nombre='BARCELONA, FABRA', indsinop='', longitud='020727E'),
 Row(latitud='412326N', provincia='BARCELONA', altitud='6', indicativo='0201D', nombre='BARCELONA', indsinop='08180', longitud='021200E'),
 Row(latitud='414312N', provincia='BARCELONA', altitud='291', indicativo='0149X', nombre='MANRESA', indsinop='08174', longitud='015025E')]

In [41]:
df.printSchema()

root
 |-- latitud: string (nullable = true)
 |-- provincia: string (nullable = true)
 |-- altitud: string (nullable = true)
 |-- indicativo: string (nullable = true)
 |-- nombre: string (nullable = true)
 |-- indsinop: string (nullable = true)
 |-- longitud: string (nullable = true)

In [42]:
df.select("PROVINCIA").distinct().show()

+-------------+
|    PROVINCIA|
+-------------+
|     A CORUÑA|
|    CASTELLON|
|ILLES BALEARS|
|    SALAMANCA|
|       MALAGA|
|      OURENSE|
|   LAS PALMAS|
|       TOLEDO|
|       MADRID|
|      BIZKAIA|
|      MELILLA|
|    BARCELONA|
|       BURGOS|
|      ALMERIA|
|       HUELVA|
|     LA RIOJA|
|        CEUTA|
|      NAVARRA|
|       TERUEL|
|       HUESCA|
+-------------+
only showing top 20 rows

In [54]:
df_mad = df.filter(df["PROVINCIA"]=="MADRID").orderBy("indsinop")

In [51]:
import math

In [85]:
#Localizacion Madrid Longitud: O3°42'9.22" Latitud: N40°24'59.4"
# N,E = (+) // S,W 0 (-)
#1° = 60' = 360"
long_mad = [3,42,9.22,'W']
lat_mad =[40,24,59.4, 'N'] 

lat_mad_deg = (lat_mad[0]+lat_mad[1]/60 + lat_mad[2]/3600) * (1 if lat_mad[3] == 'N' else -1)
long_mad_deg = (long_mad[0]+long_mad[1]/60 + long_mad[2]/3600) * (1 if long_mad[3] == 'E' else -1)
print(lat_mad_deg, " - ", long_mad_deg)

lat_mad_rad = math.radians(lat_mad_deg)
long_mad_rad = math.radians(long_mad_deg)
print(lat_mad_rad, " - ", long_mad_rad)

madrid = dict(iden = '00000', lat = lat_mad_rad, long = long_mad_rad)

40.4165  -  -3.702561111111111
0.7054009971322882  -  -0.06462188214518849

In [63]:
df_mad.select("indicativo","latitud","longitud").head(5)

[Row(indicativo='3111D', latitud='410808N', longitud='033449W'),
 Row(indicativo='3110C', latitud='410025N', longitud='033649W'),
 Row(indicativo='3338', latitud='402540N', longitud='041500W'),
 Row(indicativo='2462', latitud='404735N', longitud='040038W'),
 Row(indicativo='3266A', latitud='404223N', longitud='040831W')]

In [78]:
df_coord = df_mad.select("indicativo","latitud","longitud").collect()
lista_localizaciones = []

for row in df_coord:
    indicativo,latitud,longitud = row[0],row[1],row[2]
    signo_lat = 1 if latitud[-1:] == 'N' else -1
    signo_long= 1 if longitud[-1:] == 'E' else  -1
    lista_localizaciones.append(dict(iden = indicativo,
                            lat =signo_lat *math.radians(int(latitud[0:2]) + int(latitud[2:4])/60 + int(latitud[4:-1])/3600),
                            long =signo_long *math.radians(int(longitud[0:2])+ int(longitud[2:4])/60 + int(longitud[4:-1])/3600)))
print(lista_localizaciones)

[{'iden': '3111D', 'lat': 0.7179508840814897, 'long': -0.06248763535820809}, {'iden': '3110C', 'lat': 0.7157061967379524, 'long': -0.06306941177553954}, {'iden': '3338', 'lat': 0.7055978314868186, 'long': -0.07417649320975901}, {'iden': '2462', 'lat': 0.711973131393409, 'long': -0.0699973992785948}, {'iden': '3266A', 'lat': 0.7104605127083473, 'long': -0.07229056799024292}, {'iden': '3191E', 'lat': 0.7102811316463368, 'long': -0.06571164633758651}, {'iden': '3194U', 'lat': 0.706014771252573, 'long': -0.06499897022635549}, {'iden': '3129', 'lat': 0.7062765706403721, 'long': -0.062056151182020604}, {'iden': '3195', 'lat': 0.7053214876885863, 'long': -0.06419417951571366}, {'iden': '3196', 'lat': 0.7046863817663328, 'long': -0.06608010473522975}, {'iden': '3200', 'lat': 0.7033579922800925, 'long': -0.06496503326867782}, {'iden': '3175', 'lat': 0.7066595734484485, 'long': -0.06010235204714918}, {'iden': '3100B', 'lat': 0.699304949906017, 'long': -0.061891314530443366}]

In [ ]:
def deg_to_rad(lat,long):
    lat_rad = []
    long_rad = []
    for

In [344]:
# LAS ESTACIONES DE LA AEMET NO SON LAS MISMAS QUE LAS DE EL AYUNTAMIENTO.
# COMBINAR LOS DATOS CON LOS DE LAS MEDICIONES DEL AYUNTAMIENTO

In [ ]:
# Llamada a climatologias diarias

In [86]:
#3195
try:
    api_response = api_valores.climatologas_diarias_(fecha_ini_str, fecha_fin_str, 3195)
    pprint(api_response)
except ApiException as e:
    print("Exception: %s\n" % e)

{'datos': 'https://opendata.aemet.es/opendata/sh/ebeacfc7',
 'descripcion': 'exito',
 'estado': 200,
 'metadatos': 'https://opendata.aemet.es/opendata/sh/b3aa9d28'}

In [ ]:
# Equivalente con http request
import http.client

conn = http.client.HTTPSConnection("opendata.aemet.es")

headers = {
    'cache-control': "no-cache"
    }

conn.request("GET", "/opendata/api/valores/climatologicos/inventarioestaciones/todasestaciones/?api_key=jyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJqbW9udGVyb2dAYWVtZXQuZXMiLCJqdGkiOiI3NDRiYmVhMy02NDEyLTQxYWMtYmYzOC01MjhlZWJlM2FhMWEiLCJleHAiOjE0NzUwNTg3ODcsImlzcyI6IkFFTUVUIiwiaWF0IjoxNDc0NjI2Nzg3LCJ1c2VySWQiOiI3NDRiYmVhMy02NDEyLTQxYWMtYmYzOC01MjhlZWJlM2FhMWEiLCJyb2xlIjoiIn0.xh3LstTlsP9h5cxz3TLmYF4uJwhOKzA0B6-vH8lPGGw", headers=headers)

res = conn.getresponse()
data = res.read()

print(data.decode("utf-8"))
# Te da el mismo modelo que haciendolo con codegen