# [o3] - Proyecto Ozono - ETL_Estaciones  - v1

#Origenes

Aire : https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=9e42c176313eb410VgnVCM1000000b205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default

Tiempo: https://datos.madrid.es/sites/v/index.jsp?vgnextoid=2ac5be53b4d2b610VgnVCM2000001f4a900aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD

## [0] - Librerias

In [236]:
from __future__ import print_function
import findspark
findspark.init('/home/rulicering/BigData/spark-2.4.5-bin-hadoop2.7')
from pyspark.sql import SparkSession
import pandas as pd
from pyspark.sql.types import StructField,StringType,IntegerType,StructType,FloatType

#AEMET
import time
import swagger_client
from swagger_client.rest import ApiException
from pprint import pprint
import datetime
import requests,json
import re as reg

## [1] - Inicializar sesión de Spark

In [237]:
spark = SparkSession.builder.appName('estaciones').getOrCreate()

## [2] - ESTACIONES CONTROL AIRE (Ayunt. Madrid)

In [238]:
# https://datos.madrid.es/egob/catalogo/212629-0-estaciones-control-aire.xls

In [239]:
pd_aire = pd.read_excel("https://datos.madrid.es/egob/catalogo/212629-0-estaciones-control-aire.xls")

In [240]:
pd_aire.head(5)

,CODIGO,CODIGO_CORTO,ESTACION,DIRECCION,LONGITUD_ETRS89,LATITUD_ETRS89,ALTITUD,COD_TIPO,NOM_TIPO,NO2,...,HC,COD_VIA,VIA_CLASE,VIA_PAR,VIA_NOMBRE,Fecha alta,COORDENADA_X_ETRS89,COORDENADA_Y_ETRS89,LONGITUD,LATITUD
0,28079004,4,Pza. de España,Plaza de España,"3°42'43.91""O","40°25'25.98""N",637,UT,Urbana tráfico,X,...,NaN,273600,PLAZA,DE,ESPAÑA,1998-12-01,439579.329073,4.475049e+06,-3.712257,40.423882
1,28079008,8,Escuelas Aguirre,Entre C/ Alcalá y C/ O’ Donell,"3°40'56.22""O","40°25'17.63""N",672,UT,Urbana tráfico,X,...,X,18900,CALLE,DE,ALCALA,1998-12-01,442117.236578,4.474771e+06,-3.682316,40.421553
2,28079011,11,Avda. Ramón y Cajal,Avda. Ramón y Cajal esq. C/ Príncipe de Vergara,"3°40'38.50""O","40°27'5.29""N",708,UT,Urbana tráfico,X,...,NaN,610450,CALLE,DEL,PRINCIPE DE VERGARA,1998-12-01,442564.045713,4.478089e+06,-3.677349,40.451473
3,28079016,16,Arturo Soria,C/ Arturo Soria esq. C/ Vizconde de los Asilos,"3°38'21.17""O","40°26'24.20""N",695,UF,Urbana fondo,X,...,NaN,798700,CALLE,DEL,VIZCONDE DE LOS ASILOS,1998-12-01,445786.172865,4.476796e+06,-3.639242,40.440046
4,28079017,17,Villaverde,C/. Juan Peñalver,"3°42'47.89""O","40°20'49.74""N",601,UF,Urbana fondo,X,...,NaN,417200,CALLE,DE,JUAN PEÑALVER,1998-12-01,439420.701532,4.466532e+06,-3.713317,40.347147

In [241]:
pd_aire = pd_aire[['CODIGO_CORTO', 'ESTACION', 'DIRECCION', 'ALTITUD','LONGITUD', 'LATITUD']]
#pd_aire["MIDE_AIRE"] = 1 // Te lo mete como float
pd_aire.insert(6,"MIDE_AIRE",1)

In [242]:
print("Número de estaciones medición calidad del aire: %d" % pd_aire["ESTACION"].count())

for elem in pd_aire[["CODIGO_CORTO", "ESTACION"]].values.tolist():
    print(elem)

Número de estaciones medición calidad del aire: 24
[4, 'Pza. de España']
[8, 'Escuelas Aguirre']
[11, 'Avda. Ramón y Cajal']
[16, 'Arturo Soria']
[17, 'Villaverde']
[18, 'Farolillo']
[24, 'Casa de Campo']
[27, 'Barajas Pueblo']
[35, 'Pza. del Carmen']
[36, 'Moratalaz']
[38, 'Cuatro Caminos']
[39, 'Barrio del Pilar']
[40, 'Vallecas']
[47, 'Mendez Alvaro']
[48, 'Castellana']
[49, 'Parque del Retiro']
[50, 'Plaza Castilla']
[54, 'Ensanche de Vallecas']
[55, 'Urb. Embajada']
[56, 'Pza. Elíptica']
[57, 'Sanchinarro']
[58, 'El Pardo']
[59, 'Juan Carlos I']
[60, 'Tres Olivos']

## [!] - NO LAS INCLUIMOS PORQUE SOLO HAY DATOS A PARTIR DE 2019

## [] -  ESTACIONES CONTROL METEOROLÓGICO (Ayunt. Madrid)

#https://datos.madrid.es/egob/catalogo/300360-0-meteorologicos-estaciones.xls

pd_tiempo = pd.read_excel("https://datos.madrid.es/egob/catalogo/300360-0-meteorologicos-estaciones.xls")

pd_tiempo = pd_tiempo[['CÓDIGO_CORTO', 'ESTACIÓN', 'DIRECCIÓN', 'ALTITUD','LONGITUD', 'LATITUD']]
#pd_tiempo["MIDE_CLIMA"] = 1 #Te lo mete como float
pd_tiempo.insert(6,"MIDE_CLIMA",1)

#Modificamos los nombres de las columnas -> sin tildes para que cuadre luego al hacer el join
pd_tiempo = pd_tiempo.rename(columns = {"CÓDIGO_CORTO" : "CODIGO_CORTO",'ESTACIÓN': 'ESTACION', 'DIRECCIÓN':'DIRECCION'})

print("Número de estaciones medición clima: %d" % pd_tiempo["ESTACION"].count())

for elem in pd_tiempo[["CODIGO_CORTO", "ESTACION"]].values.tolist():
    print(elem)

## [] - MERGE - AYUNTAMIENTO

#pd_final = pd_aire.join(pd_tiempo,lsuffix = "_aire",rsuffix = "_tiempo", on =["CODIGO_CORTO"], how = "outer", sort = True) 
#No tienen el mismo tipo las columnas de Código corto en ambos datasets

pd_estaciones_ayunt = pd_aire.merge(pd_tiempo, on =['CODIGO_CORTO', 'ESTACION', 'DIRECCION', 'ALTITUD', 'LONGITUD', 'LATITUD'], how = "outer")

pd_estaciones_ayunt["MIDE_CLIMA"] = pd_estaciones_ayunt["MIDE_CLIMA"].round(1).astype(int)
pd_estaciones_ayunt["MIDE_AIRE"] = pd_estaciones_ayunt["MIDE_AIRE"].round(1).astype(int)

#pd_final["CODIGO_CORTO"].count()

## [] - ELIMINAMOS DUPLICADOS

pd_estaciones_ayunt.duplicated(["CODIGO_CORTO"])
pd_estaciones_ayunt = pd_estaciones_ayunt.drop_duplicates(["CODIGO_CORTO"],keep='first')

#pd_final["CODIGO_CORTO"].count()

## [] - NULL -> 0

pd_estaciones_ayunt = pd_estaciones_ayunt.fillna(0)

## [3-6][SUST] - ESTACIONES = ESTACIONES_AIRE

### Borrar esta sección en caso de que se empiecen a usar los datos de estaciones clima ayuntamiento.

In [246]:
pd_estaciones_ayunt = pd_aire

## [7] - ESTACIONES CONTROL METEOROLÓGICO (AEMET)

In [39]:
configuration = swagger_client.Configuration()
configuration.api_key['api_key'] = 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJwcm95ZWN0by5vem9uby5jb250YWN0QGdtYWlsLmNvbSIsImp0aSI6ImNlZDZiZWQ2LTUyN2EtNGQ2Yi1iOGMyLWU1YmRlNzk3YzYzZSIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNTg2NzE3MTE2LCJ1c2VySWQiOiJjZWQ2YmVkNi01MjdhLTRkNmItYjhjMi1lNWJkZTc5N2M2M2UiLCJyb2xlIjoiIn0.U3b4ELAg-9eJcwgpzr4QgkF-Yj6jb9gw0DOa8sqAwHo'

In [40]:
api_valores = swagger_client.ValoresClimatologicosApi(swagger_client.ApiClient(configuration))

In [41]:
try:
    api_response = api_valores.inventario_de_estaciones__valores_climatolgicos_()
except ApiException as e:
    print("Exception: %s\n" % e)

In [42]:
r = requests.get(api_response.datos)
data = r.content

In [43]:
def data_to_sparkdf(data):
    #Encoding "ISO-8859"
    data_v = data.decode(encoding ='ISO-8859-15')
    data_v0 = data_v
    # Clean the data
    # Step 0 
    for i in range(20):
        if(data_v0[i]=='{'):
            data_v0 = data_v0[i:]
    for i in range(20):
        if(data_v0[-i]=='}'):
            data_v0 = data_v0[:-i+1]
    # Step 1     
    data_v1 = data_v0
    data_v1 = data_v1.replace("\n", "")
    
    # Step 2
    data_v2 = data_v1.replace("},","}},")
    
    # Step 3
    patron =['\s\s','\s"','"\s','\s{']
    replace = [' ','"','"','{']
    
    data_v3 = data_v2
    for i in range(len(patron)):
        data_v3 = reg.sub(patron[i],replace[i],data_v3)

    # Step 4
    data_v4 = data_v3.replace("\",\"","\";\"")
    
    # Step 5
    data_cleaned = data_v4.split("},")

    # String to List of dictionaries
    diccionarios = []
    for fila in data_cleaned:
        #print(fila)
        keys = []
        values = []
        for pareja in fila[1:-1].split(';'):
            #print("Pareja= ",pareja)
            elems =pareja.split(':')
            #print("Elementos= ",elems)
            keys.append(elems[0][1:-1])
            values.append(elems[1][1:-1])
        diccionarios.append(dict(zip(keys,values)))

    # Schema for the new DF
    data_schema = [StructField('latitud',StringType(), True), #Tercer argumento = nullable
                   StructField('provincia', StringType(), True),
                   StructField('altitud', StringType(), True),
                   StructField('indicativo', StringType(), True),
                   StructField('nombre', StringType(), True),
                   StructField('indsinop', StringType(), True),
                   StructField('longitud', StringType(), True)                    
                  ]
    # Create and return the new DF
    return spark.createDataFrame(diccionarios,schema = StructType(data_schema))

In [44]:
df = data_to_sparkdf(data)

In [64]:
pd_estaciones_aemet = df.filter(df["PROVINCIA"]=="MADRID").orderBy("indsinop").toPandas()

In [65]:
def degrees_to_decimal(elem):
    elem = reg.sub('N|E','1',elem)
    elem = reg.sub('S|W','-1',elem)
    return int(elem[6:])* (int(elem[0:2]) + int(elem[2:4])/60 + int(elem[4:6])/3600)

In [66]:
pd_estaciones_aemet["DIRECCION"] = pd_estaciones_aemet["nombre"]+ "-" + pd_estaciones_aemet["provincia"]
#pd_mad["MIDE_CLIMA_AEMET"] = 1
pd_estaciones_aemet.insert(7,"MIDE_CLIMA_AEMET",1)
pd_estaciones_aemet["LONGITUD"] = [degrees_to_decimal(elem) for elem in pd_estaciones_aemet["longitud"]]
pd_estaciones_aemet["LATITUD"] = [degrees_to_decimal(elem) for elem in pd_estaciones_aemet["latitud"]]

In [67]:
pd_estaciones_aemet = pd_estaciones_aemet[["indsinop","nombre","DIRECCION","altitud","LONGITUD","LATITUD","MIDE_CLIMA_AEMET"]]
pd_estaciones_aemet = pd_estaciones_aemet.rename(columns = {"indsinop":"CODIGO_CORTO",
                                  "nombre": "ESTACION",
                                  "altitud": "ALTITUD"})

In [68]:
pd_estaciones_aemet["CODIGO_CORTO"] = pd_estaciones_aemet["CODIGO_CORTO"].astype(str).astype(int)
pd_estaciones_aemet["ALTITUD"] = pd_estaciones_aemet["ALTITUD"].astype(str).astype(int)

In [228]:
#pd_estaciones_aemet

## [!] -  Descartar las estaciones que estén fuera del area de madrid ciudad

In [206]:
import math
def haversine(p0,p1):
    p0_lat,p0_long =p0.split(',')
    
    lat1, lon1 = round(float(p0_lat),6),round(float(p0_long),6)
    lat2, lon2 = round(float(p1[0]),6),round(float(p1[1]),6)
    
    rad=math.pi/180
    dlat=lat2-lat1
    dlon=lon2-lon1
    R=6372.795477598
    a=(math.sin(rad*dlat/2))**2 + math.cos(rad*lat1)*math.cos(rad*lat2)*(math.sin(rad*dlon/2))**2
    distancia=2*R*math.asin(math.sqrt(a))
    return distancia

plaza_españa = df_estaciones_ayunt.filter(df_estaciones_ayunt["CODIGO_CORTO"]==4).select("LATITUD","LONGITUD")
plaza_españa = plaza_españa.collect()[0]
centro_de_madrid = [40.4165,-3.702561]

plaza_españa_r=[round(plaza_españa[0],6),round(plaza_españa[1],6)]

print("Plaza españa= ", plaza_españa_r[0] , "- ",  plaza_españa_r[1])
print("Madrid= ", centro_de_madrid)

haversine(centro_de_madrid,plaza_españa_r)

In [216]:
# Radio madrid ciudad 15km (PARDO)
pd_estaciones_aemet["LAT_LONG"]= round(pd_estaciones_aemet["LATITUD"],6).astype(str) +','+ round(pd_estaciones_aemet["LONGITUD"],6).astype(str)
centro_de_madrid = [40.4165,-3.702561]
pd_estaciones_aemet["MADRID_CIUDAD"] = [1 if haversine(x,centro_de_madrid) <= 15 else 0 for x in (pd_estaciones_aemet["LAT_LONG"])]
#pd_estaciones_aemet["DISTC_MADRID_CIUDAD"] = [haversine(x,centro_de_madrid) for x in (pd_estaciones_aemet["LAT_LONG"])]

In [225]:
df_estaciones_aemet= spark.createDataFrame(pd_estaciones_aemet)
df_estaciones_aemet= df_estaciones_aemet.filter(df_estaciones_aemet["MADRID_CIUDAD"]== 1).select('CODIGO_CORTO', 'ESTACION', 'DIRECCION', 'ALTITUD', 'LONGITUD','LATITUD', 'MIDE_CLIMA_AEMET')

In [226]:
pd_estaciones_aemet = df_estaciones_aemet.toPandas()

In [227]:
pd_estaciones_aemet.head(5)

,CODIGO_CORTO,ESTACION,DIRECCION,ALTITUD,LONGITUD,LATITUD,MIDE_CLIMA_AEMET
0,8220,"MADRID, CIUDAD UNIVERSITARIA","MADRID, CIUDAD UNIVERSITARIA-MADRID",664,-3.724167,40.451667,1
1,8221,MADRID AEROPUERTO,MADRID AEROPUERTO-MADRID,609,-3.555556,40.466667,1
2,8222,"MADRID, RETIRO","MADRID, RETIRO-MADRID",667,-3.678056,40.411944,1
3,8223,"MADRID, CUATRO VIENTOS","MADRID, CUATRO VIENTOS-MADRID",690,-3.786111,40.375556,1
4,8224,GETAFE,GETAFE-MADRID,620,-3.722222,40.299444,1

##  [8] - MERGE AYUNT-AEMET

In [247]:
pd_estaciones_ayunt.dtypes

CODIGO_CORTO      int64
ESTACION         object
DIRECCION        object
ALTITUD           int64
LONGITUD        float64
LATITUD         float64
MIDE_AIRE         int64
dtype: object

In [248]:
pd_estaciones_aemet.dtypes

CODIGO_CORTO          int64
ESTACION             object
DIRECCION            object
ALTITUD               int64
LONGITUD            float64
LATITUD             float64
MIDE_CLIMA_AEMET      int64
dtype: object

In [249]:
pd_estaciones = pd_estaciones_ayunt.merge(pd_estaciones_aemet,how='outer')
pd_estaciones = pd_estaciones.fillna(0)

## [9] - CLUSTERING

In [302]:
from pyspark.ml.clustering import KMeans
from pyspark.ml.feature import VectorAssembler

In [303]:
df_estaciones = spark.createDataFrame(pd_estaciones)

In [304]:
vec_assembler = VectorAssembler(inputCols =["LATITUD","LONGITUD"],outputCol='features')

In [305]:
df_estaciones = vec_assembler.transform(df_estaciones)

In [306]:
variaciones = []
errores = []
anterior = 0
for i in range(2,df_estaciones.count()):
    kmeans = KMeans(featuresCol='features',k=i,maxIter=30)
    df_estaciones_model = kmeans.fit(df_estaciones)
    wssse = df_estaciones_model.computeCost(df_estaciones)
    errores.append(wssse)
    variaciones.append(wssse-anterior)
    anterior = wssse
    #print("K= ",i ," Within Set Sum of Squared Errors = " + str(wssse))

In [307]:
i=0
for elem in errores:
    print(i, " - ", elem)
    i= i+1

0  -  0.09136062240349929
1  -  0.06029789818694553
2  -  0.04741366761965041
3  -  0.03303360488077906
4  -  0.02547711277657531
5  -  0.02187163811578251
6  -  0.015655316927689338
7  -  0.013814024553084892
8  -  0.01447990610613321
9  -  0.014264475873276904
10  -  0.007418403030819056
11  -  0.008545666791723324
12  -  0.0059639384961641595
13  -  0.005199173502545277
14  -  0.004368737132641265
15  -  0.0034711327662080294
16  -  0.002293711700986023
17  -  0.002078281468129717
18  -  0.0016941139078880951
19  -  0.0016418759137195593
20  -  0.0013745046458097931
21  -  0.0007700579826632747
22  -  0.0009149432007689029
23  -  0.00026648149878383265
24  -  0.00021424350461529684
25  -  6.235087721506716e-05
26  -  1.3001543266000226e-05

In [308]:
#variaciones
errores
#Cuando baja menos que antes
bajada_anterior = 0
selected_k = -1

for i in range(1,len(errores)):
    if((errores[i-1]-errores[i])<bajada_anterior):
        selected_k = i-1
        break
    else:
        bajada_anterior = errores[i]-errores[i-1]
print(selected_k)

8

kmeans = KMeans(featuresCol='features',k=10)
df_estaciones_model = kmeans.fit(df_estaciones)
wssse = df_estaciones_model.computeCost(df_estaciones)
print("K= ",i ," Within Set Sum of Squared Errors = " + str(wssse))
df_estaciones_model.transform(df_estaciones).toPandas()[["CODIGO_CORTO","ESTACION","prediction"]].sort_values(by="prediction")

## [7] - EXPORTAMOS

In [ ]:
pd_final.to_csv("/home/rulicering/Datos_Proyecto_Ozono/Procesado/Estaciones.csv")