# [o3] - Proyecto Ozono -ETL_Estaciones- v3

### [.0] - DISTANCIA MÍNIMA PARA ASOCIAR AIRE-CLIMA

### [.1] -> 2014-18 | [.2] ->2019-NOW

### Utilizan tanto Est. clima aemet  como ESt. clima ayunt

#Origenes

Aire : https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=9e42c176313eb410VgnVCM1000000b205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default

Tiempo: https://datos.madrid.es/sites/v/index.jsp?vgnextoid=2ac5be53b4d2b610VgnVCM2000001f4a900aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD

## [0] - Librerias

In [70]:
from __future__ import print_function
import findspark
findspark.init('/home/rulicering/BigData/spark-2.4.5-bin-hadoop2.7')
from pyspark.sql import SparkSession
import pandas as pd
from pyspark.sql.types import StructField,StringType,IntegerType,StructType,FloatType
from pyspark.ml.clustering import KMeans
from pyspark.ml.feature import VectorAssembler
import numpy as np

#AEMET
import time
import swagger_client
from swagger_client.rest import ApiException
from pprint import pprint
import datetime
import requests,json
import re as reg

## [1] - Inicializar sesión de Spark

In [71]:
spark = SparkSession.builder.appName('estaciones_2019').getOrCreate()

## [2] - ESTACIONES CONTROL AIRE (Ayunt. Madrid)

In [72]:
# https://datos.madrid.es/egob/catalogo/212629-0-estaciones-control-aire.xls

In [73]:
pd_aire = pd.read_excel("https://datos.madrid.es/egob/catalogo/212629-0-estaciones-control-aire.xls")

In [74]:
#pd_aire.head(5)

In [75]:
pd_aire = pd_aire[['CODIGO_CORTO', 'ESTACION', 'DIRECCION', 'ALTITUD','LONGITUD', 'LATITUD']]
#pd_aire["MIDE_AIRE"] = 1 // Te lo mete como float
#pd_aire.LATITUD= pd_aire.LATITUD.round(6)
#pd_aire.LONGITUD= pd_aire.LONGITUD.round(6)
pd_aire.insert(6,"MIDE_AIRE",1)

In [76]:
print("Número de estaciones medición calidad del aire: %d" % pd_aire["ESTACION"].count())

for elem in pd_aire[["CODIGO_CORTO", "ESTACION"]].values.tolist():
    print(elem)

Número de estaciones medición calidad del aire: 24
[4, 'Pza. de España']
[8, 'Escuelas Aguirre']
[11, 'Avda. Ramón y Cajal']
[16, 'Arturo Soria']
[17, 'Villaverde']
[18, 'Farolillo']
[24, 'Casa de Campo']
[27, 'Barajas Pueblo']
[35, 'Pza. del Carmen']
[36, 'Moratalaz']
[38, 'Cuatro Caminos']
[39, 'Barrio del Pilar']
[40, 'Vallecas']
[47, 'Mendez Alvaro']
[48, 'Castellana']
[49, 'Parque del Retiro']
[50, 'Plaza Castilla']
[54, 'Ensanche de Vallecas']
[55, 'Urb. Embajada']
[56, 'Pza. Elíptica']
[57, 'Sanchinarro']
[58, 'El Pardo']
[59, 'Juan Carlos I']
[60, 'Tres Olivos']

In [77]:
pd_aire["CODIGO_CORTO"] = pd_aire["CODIGO_CORTO"].astype(str)

## [3.2] -  ESTACIONES CONTROL METEOROLÓGICO (Ayunt. Madrid)

In [78]:
#https://datos.madrid.es/egob/catalogo/300360-0-meteorologicos-estaciones.xls

In [79]:
pd_tiempo = pd.read_excel("https://datos.madrid.es/egob/catalogo/300360-0-meteorologicos-estaciones.xls")

In [80]:
pd_tiempo = pd_tiempo[['CÓDIGO_CORTO', 'ESTACIÓN', 'DIRECCIÓN', 'ALTITUD','LONGITUD', 'LATITUD']]
#pd_tiempo["MIDE_CLIMA"] = 1 #Te lo mete como float
#pd_tiempo.LATITUD= pd_tiempo.LATITUD.round(6)
#pd_tiempo.LONGITUD= pd_tiempo.LONGITUD.round(6)
pd_tiempo.insert(6,"MIDE_CLIMA",1)

In [81]:
#Modificamos los nombres de las columnas -> sin tildes para que cuadre luego al hacer el join
pd_tiempo = pd_tiempo.rename(columns = {"CÓDIGO_CORTO" : "CODIGO_CORTO",'ESTACIÓN': 'ESTACION', 'DIRECCIÓN':'DIRECCION'})

In [82]:
print("Número de estaciones medición clima: %d" % pd_tiempo["ESTACION"].count())

for elem in pd_tiempo[["CODIGO_CORTO", "ESTACION"]].values.tolist():
    print(elem)

Número de estaciones medición clima: 26
[4, 'Plaza España']
[8, 'Escuelas Aguirre']
[16, 'Arturo Soria']
[18, 'Farolillo']
[24, 'Casa de Campo']
[35, 'Plaza del Carmen']
[36, 'Moratalaz']
[38, 'Cuatro Caminos']
[39, 'Barrio del Pilar']
[54, 'Ensanche de Vallecas']
[56, 'Plaza Elíptica']
[58, 'El Pardo']
[59, 'Juan Carlos I']
[102, 'J.M.D. Moratalaz']
[103, 'J.M.D. Villaverde']
[104, 'E.D.A.R. La China']
[106, 'Centro Mpal. De Acústica']
[107, 'J.M.D. Hortaleza']
[108, 'Peñagrande']
[109, 'J.M.D.Chamberí']
[110, 'J.M.D.Centro']
[111, 'J.M.D.Chamartin']
[112, 'J.M.D.Vallecas 1']
[113, 'J.M.D.Vallecas 2']
[114, 'Matadero 01']
[115, 'Matadero 02']

In [83]:
pd_tiempo["CODIGO_CORTO"] = pd_tiempo["CODIGO_CORTO"].astype(str)

## [4.1] - AYUNTAMIENTO = AIRE

In [84]:
pd_estaciones_ayunt_1 = pd_aire

## [4.2] - MERGE - AYUNTAMIENTO

In [85]:
#pd_final = pd_aire.join(pd_tiempo,lsuffix = "_aire",rsuffix = "_tiempo", on =["CODIGO_CORTO"], how = "outer", sort = True) 
#No tienen el mismo tipo las columnas de Código corto en ambos datasets

pd_estaciones_ayunt_2 = pd_aire.merge(pd_tiempo, on =['CODIGO_CORTO', 'ESTACION', 'DIRECCION', 'ALTITUD', 'LONGITUD', 'LATITUD'], how = "outer")

In [86]:
#pd_estaciones_ayunt_2["CODIGO_CORTO"].count()

## [5.2] - ELIMINAMOS DUPLICADOS

In [87]:
pd_estaciones_ayunt_2.duplicated(["CODIGO_CORTO"])
pd_estaciones_ayunt_2 = pd_estaciones_ayunt_2.drop_duplicates(["CODIGO_CORTO"],keep='first')

In [88]:
#pd_estaciones_ayunt_2["CODIGO_CORTO"].count()

## [6.2] - NULL -> 0

In [89]:
pd_estaciones_ayunt_2 = pd_estaciones_ayunt_2.fillna(0)
pd_estaciones_ayunt_2["MIDE_CLIMA"] = pd_estaciones_ayunt_2["MIDE_CLIMA"].round(1).astype(int)
pd_estaciones_ayunt_2["MIDE_AIRE"] = pd_estaciones_ayunt_2["MIDE_AIRE"].round(1).astype(int)

## [7] - ESTACIONES CONTROL METEOROLÓGICO (AEMET)

In [90]:
configuration = swagger_client.Configuration()
configuration.api_key['api_key'] = 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJwcm95ZWN0by5vem9uby5jb250YWN0QGdtYWlsLmNvbSIsImp0aSI6ImNlZDZiZWQ2LTUyN2EtNGQ2Yi1iOGMyLWU1YmRlNzk3YzYzZSIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNTg2NzE3MTE2LCJ1c2VySWQiOiJjZWQ2YmVkNi01MjdhLTRkNmItYjhjMi1lNWJkZTc5N2M2M2UiLCJyb2xlIjoiIn0.U3b4ELAg-9eJcwgpzr4QgkF-Yj6jb9gw0DOa8sqAwHo'

In [91]:
api_valores = swagger_client.ValoresClimatologicosApi(swagger_client.ApiClient(configuration))

In [92]:
try:
    api_response = api_valores.inventario_de_estaciones__valores_climatolgicos_()
    #print(api_response)
except ApiException as e:
    print("Exception: %s\n" % e)

In [93]:
r = requests.get(api_response.datos)
data = r.content

In [94]:
def data_to_sparkdf(data):
    #Encoding "ISO-8859"
    data_v = data.decode(encoding ='ISO-8859-15')
    data_v0 = data_v
    # Clean the data
    # Step 0 
    for i in range(20):
        if(data_v0[i]=='{'):
            data_v0 = data_v0[i:]
    for i in range(20):
        if(data_v0[-i]=='}'):
            data_v0 = data_v0[:-i+1]
    # Step 1     
    data_v1 = data_v0
    data_v1 = data_v1.replace("\n", "")
    
    # Step 2
    data_v2 = data_v1.replace("},","}},")
    
    # Step 3
    patron =['\s\s','\s"','"\s','\s{']
    replace = [' ','"','"','{']
    
    data_v3 = data_v2
    for i in range(len(patron)):
        data_v3 = reg.sub(patron[i],replace[i],data_v3)

    # Step 4
    data_v4 = data_v3.replace("\",\"","\";\"")
    
    # Step 5
    data_cleaned = data_v4.split("},")

    # String to List of dictionaries
    diccionarios = []
    for fila in data_cleaned:
        #print(fila)
        keys = []
        values = []
        for pareja in fila[1:-1].split(';'):
            #print("Pareja= ",pareja)
            elems =pareja.split(':')
            #print("Elementos= ",elems)
            keys.append(elems[0][1:-1])
            values.append(elems[1][1:-1])
        diccionarios.append(dict(zip(keys,values)))

    # Schema for the new DF
    data_schema = [StructField('latitud',StringType(), True), #Tercer argumento = nullable
                   StructField('provincia', StringType(), True),
                   StructField('altitud', StringType(), True),
                   StructField('indicativo', StringType(), True),
                   StructField('nombre', StringType(), True),
                   StructField('indsinop', StringType(), True),
                   StructField('longitud', StringType(), True)                    
                  ]
    # Create and return the new DF
    return spark.createDataFrame(diccionarios,schema = StructType(data_schema))

In [95]:
df = data_to_sparkdf(data)

In [96]:
pd_estaciones_aemet = df.filter(df["PROVINCIA"]=="MADRID").orderBy("indicativo").toPandas()

In [97]:
def degrees_to_decimal(elem):
    elem = reg.sub('N|E','1',elem)
    elem = reg.sub('S|W','-1',elem)
    return (float(elem[6:])* (float(elem[0:2]) + float(elem[2:4])/60 + float(elem[4:6])/3600))

In [98]:
pd_estaciones_aemet["DIRECCION"] = pd_estaciones_aemet["nombre"]+ "-" + pd_estaciones_aemet["provincia"]
#pd_mad["MIDE_CLIMA_AEMET"] = 1
pd_estaciones_aemet.insert(7,"MIDE_CLIMA_AEMET",1)
pd_estaciones_aemet["LONGITUD"] = [degrees_to_decimal(elem) for elem in pd_estaciones_aemet["longitud"]]
pd_estaciones_aemet["LATITUD"] = [degrees_to_decimal(elem) for elem in pd_estaciones_aemet["latitud"]]

In [99]:
pd_estaciones_aemet = pd_estaciones_aemet[["indicativo","nombre","DIRECCION","altitud","LONGITUD","LATITUD","MIDE_CLIMA_AEMET"]]
pd_estaciones_aemet = pd_estaciones_aemet.rename(columns = {"indicativo":"CODIGO_CORTO",
                                  "nombre": "ESTACION",
                                  "altitud": "ALTITUD"})

In [100]:
pd_estaciones_aemet["CODIGO_CORTO"] = pd_estaciones_aemet["CODIGO_CORTO"].astype(str)
pd_estaciones_aemet["ALTITUD"] = pd_estaciones_aemet["ALTITUD"].astype(str).astype(int)

In [101]:
#pd_estaciones_aemet

## [!] -  Descartar las estaciones que estén fuera del area de madrid ciudad

In [102]:
import math
def haversine(p0,p1):

    lat1, lon1 = round(float(p0[0]),6),round(float(p0[1]),6)
    lat2, lon2 = round(float(p1[0]),6),round(float(p1[1]),6)
    
    rad=math.pi/180
    dlat=lat2-lat1
    dlon=lon2-lon1
    R=6372.795477598
    a=(math.sin(rad*dlat/2))**2 + math.cos(rad*lat1)*math.cos(rad*lat2)*(math.sin(rad*dlon/2))**2
    distancia=2*R*math.asin(math.sqrt(a))
    #Devuelve distancia en grados
    return distancia

plaza_españa = df_estaciones_ayunt.filter(df_estaciones_ayunt["CODIGO_CORTO"]==4).select("LATITUD","LONGITUD")
plaza_españa = plaza_españa.collect()[0]
centro_de_madrid = [40.4165,-3.702561]

plaza_españa_r=[round(plaza_españa[0],6),round(plaza_españa[1],6)]

print("Plaza españa= ", plaza_españa_r[0] , "- ",  plaza_españa_r[1])
print("Madrid= ", centro_de_madrid)

haversine(centro_de_madrid,plaza_españa_r)

In [103]:
# Radio madrid ciudad 15km (PARDO)
pd_estaciones_aemet["LAT_LONG"]= round(pd_estaciones_aemet["LATITUD"],6).astype(str) +','+ round(pd_estaciones_aemet["LONGITUD"],6).astype(str)
centro_de_madrid = [40.4165,-3.702561]
pd_estaciones_aemet["MADRID_CIUDAD"] = [1 if haversine(x.split(','),centro_de_madrid) <= 15 else 0 for x in (pd_estaciones_aemet["LAT_LONG"])]
#pd_estaciones_aemet["MADRID_CIUDAD"] = [1 if haversine(x,centro_de_madrid) <= 15 else 0 for x in (pd_estaciones_aemet["LAT_LONG"])]
#pd_estaciones_aemet["DISTC_MADRID_CIUDAD"] = [haversine(x,centro_de_madrid) for x in (pd_estaciones_aemet["LAT_LONG"])]

In [104]:
df_estaciones_aemet= spark.createDataFrame(pd_estaciones_aemet)
df_estaciones_aemet= df_estaciones_aemet.filter(df_estaciones_aemet["MADRID_CIUDAD"]== 1).select('CODIGO_CORTO', 'ESTACION', 'DIRECCION', 'ALTITUD', 'LONGITUD','LATITUD', 'MIDE_CLIMA_AEMET')

In [105]:
pd_estaciones_aemet = df_estaciones_aemet.toPandas()

In [106]:
pd_estaciones_aemet.head(10)

,CODIGO_CORTO,ESTACION,DIRECCION,ALTITUD,LONGITUD,LATITUD,MIDE_CLIMA_AEMET
0,3129,MADRID AEROPUERTO,MADRID AEROPUERTO-MADRID,609,-3.555556,40.466667,1
1,3194U,"MADRID, CIUDAD UNIVERSITARIA","MADRID, CIUDAD UNIVERSITARIA-MADRID",664,-3.724167,40.451667,1
2,3195,"MADRID, RETIRO","MADRID, RETIRO-MADRID",667,-3.678056,40.411944,1
3,3196,"MADRID, CUATRO VIENTOS","MADRID, CUATRO VIENTOS-MADRID",690,-3.786111,40.375556,1
4,3200,GETAFE,GETAFE-MADRID,620,-3.722222,40.299444,1

##  [8.1] - MERGE AYUNT-AEMET

In [107]:
#pd_estaciones_ayunt_1.dtypes

In [108]:
#pd_estaciones_aemet.dtypes

In [109]:
pd_estaciones_1 = pd_estaciones_ayunt_1.merge(pd_estaciones_aemet,how='outer')
pd_estaciones_1 = pd_estaciones_1.fillna(0)

##  [8.2] - MERGE AYUNT-AEMET

In [110]:
pd_estaciones_2 = pd_estaciones_ayunt_2.merge(pd_estaciones_aemet,how='outer')
pd_estaciones_2 = pd_estaciones_2.fillna(0)

## [!!.1] - COLUMNA MIDE_CLIMA _FINAL = MIDE_CLIMA_AEMET

In [111]:
pd_estaciones_1["MIDE_CLIMA_FINAL"] = pd_estaciones_1["MIDE_CLIMA_AEMET"]

In [112]:
#pd_estaciones.head(5)

## [!!.2] - COLUMNA MIDE_CLIMA _FINAL = MIDE_CLIMA (AYUNT) + MIDE_CLIMA_AEMET

In [113]:
pd_estaciones_2["MIDE_CLIMA_FINAL"] = pd_estaciones_2["MIDE_CLIMA"] + pd_estaciones_2["MIDE_CLIMA_AEMET"]

## [FUNC] - CLUSTERING

In [114]:
def lista_diccionarios_estaciones(pd):
    return [dict(CODIGO = codigo,LATITUD = latitud,LONGITUD = longitud) 
                        for codigo,latitud,longitud 
                        in zip(pd["CODIGO_CORTO"].values,pd["LATITUD"].values,pd["LONGITUD"].values)]

In [174]:
def objetivo_mas_cercano(objetivos,punto):
    objetivo_mas_cercano = None
    menor_distancia = 9999999
    for objetivo in objetivos:
        if(objetivo["CODIGO"] == punto["CODIGO"]):
            objetivo_mas_cercano = punto["CODIGO"]
            break
        else:
            distancia = haversine([objetivo["LATITUD"],objetivo["LONGITUD"]],
                                  [punto["LATITUD"],punto["LONGITUD"]])
            #print(objetivo["CODIGO"], " - ",punto["CODIGO"], "DISTANCIA = ", distancia )
            if(distancia < menor_distancia):
                objetivo_mas_cercano = objetivo["CODIGO"]
                menor_distancia = distancia
    return objetivo_mas_cercano

In [175]:
def agrupamiento(df):
    #Sacamos las estaciones de CLIMA
    pd = df.filter(df["MIDE_CLIMA_FINAL"] > 0).toPandas()
    #Sacar un diccionario de : Estacion,latitud,longitud
    estaciones_clima = lista_diccionarios_estaciones(pd)
    #Para todas las estaciones, le asignamos la de clima mas cercana
    pd = df.toPandas()
    pd["COD_CLIMA"] = [objetivo_mas_cercano(estaciones_clima,estacion) 
                   for estacion in lista_diccionarios_estaciones(pd)]
                   
    return pd

## [9.1] - CLUSTERING

In [176]:
df_estaciones_1 = spark.createDataFrame(pd_estaciones_1)

In [177]:
pd_1 = agrupamiento(df_estaciones_1)

In [178]:
pd_estaciones_14_18 = pd_1[["CODIGO_CORTO","ESTACION","LATITUD", "LONGITUD","COD_CLIMA","MIDE_AIRE","MIDE_CLIMA_AEMET","MIDE_CLIMA_FINAL"]].sort_values(by="CODIGO_CORTO")
pd_estaciones_14_18 = pd_estaciones_14_18.rename(columns={"COD_CLIMA":"COD_CLIMA_14"})
#pd_estaciones_14_18

## [9.2] - CLUSTERING

In [179]:
df_estaciones_2 = spark.createDataFrame(pd_estaciones_2)

In [180]:
pd_2 = agrupamiento(df_estaciones_2)

In [181]:
#pd_estaciones_19_NOW = pd_2[["CODIGO_CORTO","ESTACION","LATITUD", "LONGITUD","COD_CLIMA","MIDE_AIRE","MIDE_CLIMA_AEMET","MIDE_CLIMA_FINAL"]].sort_values(by="CODIGO_CORTO")
pd_estaciones_19_NOW = pd_2[["CODIGO_CORTO","ESTACION","LATITUD", "LONGITUD","COD_CLIMA","MIDE_AIRE","MIDE_CLIMA","MIDE_CLIMA_AEMET","MIDE_CLIMA_FINAL"]].sort_values(by="CODIGO_CORTO")
pd_estaciones_19_NOW = pd_estaciones_19_NOW.rename(columns={"COD_CLIMA":"COD_CLIMA_19"})
#pd_estaciones_19_NOW

## [10] - UNIMOS DATASETS

In [182]:
pd_estaciones = pd_estaciones_14_18.merge(pd_estaciones_19_NOW,
                                          on=["CODIGO_CORTO","ESTACION",
                                              "LATITUD", "LONGITUD"],
                                          how='outer')
pd_estaciones.sort_values(by="CODIGO_CORTO")
pd_estaciones = pd_estaciones[['CODIGO_CORTO', 'ESTACION', 'LATITUD', 
                               'LONGITUD', 'COD_CLIMA_14','COD_CLIMA_19',
                               'MIDE_AIRE_y','MIDE_CLIMA','MIDE_CLIMA_AEMET_y','MIDE_CLIMA_FINAL_y']]
pd_estaciones =pd_estaciones.rename(columns={"MIDE_AIRE_y":"MIDE_AIRE",
                              "MIDE_CLIMA_AEMET_y":"MIDE_CLIMA_AEMET",
                              "MIDE_CLIMA_FINAL_y":"MIDE_CLIMA_FINAL"                            
                             })
pd_estaciones = pd_estaciones.fillna("-1")

## [11] - UTILIZADA_14 | UTILIZADA_19 (True|False)

##### Esto nos sirve para a la hora de leer datos de clima, solo leer aquellos que vayan a ser utilizados.

In [183]:
#Nos quedamos solo con las que miden aire(contaminacion)
df_aux = spark.createDataFrame(pd_estaciones)
pd_estaciones_aire = df_aux.filter(df_aux["MIDE_AIRE"] > 0).toPandas()

### UTILIZADA_14

In [184]:
#Vemos que estaciones de clima utilizan
utilizadas_14 = set(pd_estaciones_aire["COD_CLIMA_14"].values)
#utilizadas_14

In [185]:
# Marcamos como utilizadas
pd_estaciones["UTILIZADA_14"] = [elem in utilizadas_14 for elem in pd_estaciones["CODIGO_CORTO"]]

In [186]:
#pd_estaciones[['CODIGO_CORTO','COD_CLIMA_14','UTILIZADA_14','MIDE_AIRE','MIDE_CLIMA','MIDE_CLIMA_AEMET']]

### UTILIZADA_19

In [191]:
utilizadas_19 = set(pd_estaciones_aire["COD_CLIMA_19"].values)
#utilizadas_19

In [192]:
pd_estaciones["UTILIZADA_19"] = [elem in utilizadas_19 for elem in pd_estaciones["CODIGO_CORTO"]]

In [194]:
#pd_estaciones[['CODIGO_CORTO',"ESTACION",'COD_CLIMA_19','UTILIZADA_19','MIDE_AIRE','MIDE_CLIMA','MIDE_CLIMA_AEMET']]

## [11] - EXPORTAMOS

In [195]:
pd_estaciones

,CODIGO_CORTO,ESTACION,LATITUD,LONGITUD,COD_CLIMA_14,COD_CLIMA_19,MIDE_AIRE,MIDE_CLIMA,MIDE_CLIMA_AEMET,MIDE_CLIMA_FINAL,UTILIZADA_14,UTILIZADA_19
0,11,Avda. Ramón y Cajal,40.451473,-3.677349,3194U,107,1.0,0.0,0.0,0.0,False,False
1,16,Arturo Soria,40.440046,-3.639242,3195,16,1.0,1.0,0.0,1.0,False,True
2,17,Villaverde,40.347147,-3.713317,3200,103,1.0,0.0,0.0,0.0,False,False
3,18,Farolillo,40.394782,-3.731836,3195,18,1.0,1.0,0.0,1.0,False,True
4,24,Casa de Campo,40.419358,-3.747345,3194U,24,1.0,1.0,0.0,1.0,False,True
5,27,Barajas Pueblo,40.476918,-3.580026,3129,3129,1.0,0.0,0.0,0.0,False,False
6,3129,MADRID AEROPUERTO,40.466667,-3.555556,3129,3129,0.0,0.0,1.0,1.0,True,True
7,3194U,"MADRID, CIUDAD UNIVERSITARIA",40.451667,-3.724167,3194U,3194U,0.0,0.0,1.0,1.0,True,True
8,3195,"MADRID, RETIRO",40.411944,-3.678056,3195,3195,0.0,0.0,1.0,1.0,True,True
9,3196,"MADRID, CUATRO VIENTOS",40.375556,-3.786111,3196,3196,0.0,0.0,1.0,1.0,False,False
10,3200,GETAFE,40.299444,-3.722222,3200,3200,0.0,0.0,1.0,1.0,True,False
11,35,Pza. del Carmen,40.419209,-3.703166,3195,110,1.0,0.0,0.0,0.0,False,False
12,36,Moratalaz,40.407952,-3.645310,3195,36,1.0,1.0,0.0,1.0,False,True
13,38,Cuatro Caminos,40.445544,-3.707130,3194U,3194U,1.0,0.0,0.0,0.0,False,False
14,39,Barrio del Pilar,40.478232,-3.711536,3194U,39,1.0,1.0,0.0,1.0,False,True
15,4,Pza. de España,40.423882,-3.712257,3195,110,1.0,0.0,0.0,0.0,False,False
16,40,Vallecas,40.388148,-3.651529,3195,112,1.0,0.0,0.0,0.0,False,False
17,47,Mendez Alvaro,40.398099,-3.686814,3195,114,1.0,0.0,0.0,0.0,False,False
18,48,Castellana,40.439890,-3.690373,3194U,109,1.0,0.0,0.0,0.0,False,False
19,49,Parque del Retiro,40.414444,-3.682500,3195,3195,1.0,0.0,0.0,0.0,False,False
20,50,Plaza Castilla,40.465584,-3.688745,3194U,39,1.0,0.0,0.0,0.0,False,False
21,54,Ensanche de Vallecas,40.373012,-3.612139,3195,54,1.0,1.0,0.0,1.0,False,True
22,55,Urb. Embajada,40.462363,-3.580565,3129,3129,1.0,0.0,0.0,0.0,False,False
23,56,Pza. Elíptica,40.385034,-3.718768,3195,18,1.0,0.0,0.0,0.0,False,False
24,57,Sanchinarro,40.494201,-3.660517,3194U,107,1.0,0.0,0.0,0.0,False,False
25,58,El Pardo,40.518070,-3.774610,3194U,58,1.0,1.0,0.0,1.0,False,True
26,59,Juan Carlos I,40.460726,-3.616341,3129,59,1.0,1.0,0.0,1.0,False,True
27,60,Tres Olivos,40.500548,-3.689731,3194U,39,1.0,0.0,0.0,0.0,False,False
28,8,Escuelas Aguirre,40.421553,-3.682316,3195,8,1.0,1.0,0.0,1.0,False,True
29,102,J.M.D. Moratalaz,40.399793,-3.635637,-1,102,0.0,1.0,0.0,1.0,False,False
30,103,J.M.D. Villaverde,40.350628,-3.709525,-1,103,0.0,1.0,0.0,1.0,False,True
31,104,E.D.A.R. La China,40.365833,-3.679722,-1,104,0.0,1.0,0.0,1.0,False,False
32,106,Centro Mpal. De Acústica,40.442222,-3.740000,-1,106,0.0,1.0,0.0,1.0,False,False
33,107,J.M.D. Hortaleza,40.462778,-3.656667,-1,107,0.0,1.0,0.0,1.0,False,True
34,108,Peñagrande,40.476633,-3.717881,-1,108,0.0,1.0,0.0,1.0,False,False
35,109,J.M.D.Chamberí,40.431911,-3.696950,-1,109,0.0,1.0,0.0,1.0,False,True
36,110,J.M.D.Centro,40.415600,-3.710792,-1,110,0.0,1.0,0.0,1.0,False,True
37,111,J.M.D.Chamartin,40.422649,-3.680369,-1,111,0.0,1.0,0.0,1.0,False,False
38,112,J.M.D.Vallecas 1,40.396472,-3.666456,-1,112,0.0,1.0,0.0,1.0,False,True
39,113,J.M.D.Vallecas 2,40.396472,-3.666456,-1,113,0.0,1.0,0.0,1.0,False,False
40,114,Matadero 01,40.392544,-3.697631,-1,114,0.0,1.0,0.0,1.0,False,True
41,115,Matadero 02,40.392544,-3.697631,-1,115,0.0,1.0,0.0,1.0,False,False

In [196]:
pd_estaciones.to_csv("/home/rulicering/Datos_Proyecto_Ozono/Procesado/Estaciones/Versiones/[v3]-Estaciones.csv")