# Formato_datos

Cogemos solamente los años 2019-2020

## Inicialización

In [1]:
import findspark
findspark.init('/home/rulicering/BigData/spark-2.4.5-bin-hadoop2.7')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('punta_de_lanza').getOrCreate()

## Incluimos datos

### Contaminacion

In [2]:

df_2019 = spark.read.csv('/home/rulicering/Datos_Proyecto_Ozono/Raw/Contaminacion/datos_contaminacion_2019.csv',inferSchema= True,header=True, sep=';')
df_2020 = spark.read.csv('/home/rulicering/Datos_Proyecto_Ozono/Raw/Contaminacion/datos_contaminacion_2020_03.csv',inferSchema= True,header=True, sep=';')
df = df_2019.union(df_2020)

In [3]:
df.printSchema()

root
 |-- PROVINCIA: integer (nullable = true)
 |-- MUNICIPIO: integer (nullable = true)
 |-- ESTACION: integer (nullable = true)
 |-- MAGNITUD: integer (nullable = true)
 |-- PUNTO_MUESTREO: string (nullable = true)
 |-- ANO: integer (nullable = true)
 |-- MES: integer (nullable = true)
 |-- D01: double (nullable = true)
 |-- V01: string (nullable = true)
 |-- D02: double (nullable = true)
 |-- V02: string (nullable = true)
 |-- D03: double (nullable = true)
 |-- V03: string (nullable = true)
 |-- D04: double (nullable = true)
 |-- V04: string (nullable = true)
 |-- D05: double (nullable = true)
 |-- V05: string (nullable = true)
 |-- D06: double (nullable = true)
 |-- V06: string (nullable = true)
 |-- D07: double (nullable = true)
 |-- V07: string (nullable = true)
 |-- D08: double (nullable = true)
 |-- V08: string (nullable = true)
 |-- D09: double (nullable = true)
 |-- V09: string (nullable = true)
 |-- D10: double (nullable = true)
 |-- V10: string (nullable = true)
 |-- D11: double (nullable = true)
 |-- V11: string (nullable = true)
 |-- D12: double (nullable = true)
 |-- V12: string (nullable = true)
 |-- D13: double (nullable = true)
 |-- V13: string (nullable = true)
 |-- D14: double (nullable = true)
 |-- V14: string (nullable = true)
 |-- D15: double (nullable = true)
 |-- V15: string (nullable = true)
 |-- D16: double (nullable = true)
 |-- V16: string (nullable = true)
 |-- D17: double (nullable = true)
 |-- V17: string (nullable = true)
 |-- D18: double (nullable = true)
 |-- V18: string (nullable = true)
 |-- D19: double (nullable = true)
 |-- V19: string (nullable = true)
 |-- D20: double (nullable = true)
 |-- V20: string (nullable = true)
 |-- D21: double (nullable = true)
 |-- V21: string (nullable = true)
 |-- D22: double (nullable = true)
 |-- V22: string (nullable = true)
 |-- D23: double (nullable = true)
 |-- V23: string (nullable = true)
 |-- D24: double (nullable = true)
 |-- V24: string (nullable = true)
 |-- D25: double (nullable = true)
 |-- V25: string (nullable = true)
 |-- D26: double (nullable = true)
 |-- V26: string (nullable = true)
 |-- D27: double (nullable = true)
 |-- V27: string (nullable = true)
 |-- D28: double (nullable = true)
 |-- V28: string (nullable = true)
 |-- D29: double (nullable = true)
 |-- V29: string (nullable = true)
 |-- D30: double (nullable = true)
 |-- V30: string (nullable = true)
 |-- D31: double (nullable = true)
 |-- V31: string (nullable = true)

## Formateo DF

### Datos contaminación

#### [1] -  Quito columnas PROVICIA,MUNICIPIO,PUNTO_MUESTREO

In [4]:
df_v0 = df.select('ESTACION','MAGNITUD','ANO','MES','D01','V01','D02','V02','D03','V03','D04','V04','D05','V05','D06','V06','D07','V07','D08','V08','D09','V09','D10','V10','D11','V11','D12','V12','D13','V13','D14','V14','D15','V15','D16','V16','D17','V17','D18','V18','D19','V19','D20','V20','D21','V21','D22','V22','D23','V23','D24','V24','D25','V25','D26','V26','D27','V27','D28','V28','D29','V29','D30','V30','D31','V31')

#### [2] - ESTACIÓN, MAGNITUD,ANO,MES,DIA,VALOR,VALIDO

In [5]:
from pyspark.sql.types import StructField,StringType,IntegerType,FloatType,StructType
data_schema = [StructField('ESTACION',IntegerType(), False), 
              StructField('MAGNITUD',IntegerType(), False),
              StructField('ANO',IntegerType(), False),
              StructField('MES',IntegerType(), False),
              StructField('VALOR',FloatType(), True),
              StructField('VALIDO',IntegerType(), False),
              StructField('DIA',IntegerType(), False)]
struct = StructType(fields = data_schema)

In [6]:
df_v1 = spark.createDataFrame(spark.sparkContext.emptyRDD(),struct)
df_v1.printSchema()

root
 |-- ESTACION: integer (nullable = false)
 |-- MAGNITUD: integer (nullable = false)
 |-- ANO: integer (nullable = false)
 |-- MES: integer (nullable = false)
 |-- VALOR: float (nullable = true)
 |-- VALIDO: integer (nullable = false)
 |-- DIA: integer (nullable = false)

In [7]:
from pyspark.sql.functions import lit
for i in range(1,32): #Días  
    valor = 'D%02d' % i
    valido = 'V%02d' % i
    #df_v0.select("ESTACION","MAGNITUD","ANO","MES",valor,valido).printSchema()
    df_v1 = df_v1.union(df_v0.select("ESTACION","MAGNITUD","ANO","MES",valor,valido).withColumn('DIA', lit(i)))

In [8]:
#Reorganizamos las columnas 
cols = df_v1.columns
cols = cols[:4] + cols[-1:] + cols[-3:-1]
df_v2= df_v1[cols]

In [9]:
df_v2.head(1)

[Row(ESTACION=4, MAGNITUD=1, ANO=2019, MES=1, DIA=1, VALOR=18.0, VALIDO='V')]

#### [3] - StringIndexer sobre columna VALIDO

In [10]:
df_v2.select("VALIDO").distinct().show()

+------+
|VALIDO|
+------+
|     V|
|     N|
+------+

In [11]:
from pyspark.ml.feature import StringIndexer

In [12]:
# StringOrderType asignar indices (comenzando desde 0) en orden alfabetico Ascentende
# En nuestro caso N va antes que la V (alfabéticamente) por lo que se asigna0 0->N, 1->V
indexer = StringIndexer(inputCol ="VALIDO",outputCol = "V",stringOrderType="alphabetAsc")
df_v3 = indexer.fit(df_v2).transform(df_v2)

In [13]:
df_v3.select("VALIDO","V").distinct().show()

+------+---+
|VALIDO|  V|
+------+---+
|     N|0.0|
|     V|1.0|
+------+---+

In [14]:
df_v3.columns

['ESTACION', 'MAGNITUD', 'ANO', 'MES', 'DIA', 'VALOR', 'VALIDO', 'V']

In [15]:
df_v4 = df_v3.select('ESTACION', 'MAGNITUD', 'ANO', 'MES', 'DIA', 'VALOR','V')

#### [4] - Tratado de datos no validos VAL = 'N' a -1

In [16]:
from pyspark.sql import functions as F

In [17]:
#Utilizando esto no es necesario hacer el paso del string indexer.
df_v5 = df_v4.withColumn("VALOR VALIDADO",F.when(F.col("V")== 0, -1).otherwise(F.col("VALOR")) )
#Nos quedamos con la columna VALOR VALIDADO y desechamos VALOR y VALIDADO
df_v5 = df_v5.select("ESTACION","MAGNITUD","ANO","MES","DIA",df_v5["VALOR VALIDADO"].alias("VALOR"))

#### [5] - ESTACION,ANO,MES,DIA,VM1,VM2,VM3

In [22]:
#Hay que ejecutar la parte [AUX] - Abajo
print(("Hay {0} magnitudes por lo que necesitamos {0} columnas nuevas").format(df_M.count()))

Hay 14 magnitudes por lo que necesitamos 14 columnas nuevas

##### Creamos la estructura <- NO UTILIZADO

In [23]:
data_schema2 = [StructField('ESTACION',IntegerType(), False), 
              StructField('ANO',IntegerType(), False),
              StructField('MES',IntegerType(), False),
              StructField('DIA',IntegerType(), False),
              StructField('VALOR',FloatType(), False)
]

In [24]:
lista_magnitudes = df_M.select("MAGNITUD").orderBy("MAGNITUD",ascending=True).collect()
for i in range(len(lista_magnitudes)):
    #print(("{0}:Magnitud {1}").format(i+1,lista_magnitudes[i][0]))
    elemento= lista_magnitudes[i][0]
    nombre_columna = "M_"+f'{elemento:02}' 
    data_schema2.append(StructField(nombre_columna,FloatType(),True)) #El nulo por si acaso.
data_schema2_1 = data_schema2

In [25]:
struct2 = StructType(fields = data_schema2_1)

##### Pivot

In [26]:
df_v6 = df_v5.groupBy('ESTACION','ANO', 'MES', 'DIA').pivot("MAGNITUD").sum("VALOR")

### Comprobar que los datos están bien

In [28]:
df_v6.filter(df_v6["ANO"]==2020).filter(df_v6["MES"]==1).filter(df_v6["DIA"]==1).filter(df_v6["ESTACION"]==50).show(truncate= False)

+--------+----+---+---+----+----+----+----+----+----+-----+----+----+----+----+----+----+----+
|ESTACION|ANO |MES|DIA|1   |6   |7   |8   |9   |10  |12   |14  |20  |30  |35  |42  |43  |44  |
+--------+----+---+---+----+----+----+----+----+----+-----+----+----+----+----+----+----+----+
|50      |2020|1  |1  |null|null|58.0|64.0|23.0|30.0|153.0|null|null|null|null|null|null|null|
+--------+----+---+---+----+----+----+----+----+----+-----+----+----+----+----+----+----+----+

In [31]:
df_v5.filter(df_v5["ANO"]==2020).filter(df_v5["MES"]==1).filter(df_v5["DIA"]<=1).filter(df_v5["ESTACION"]==50).orderBy("MAGNITUD").show()

+--------+--------+----+---+---+-----+
|ESTACION|MAGNITUD| ANO|MES|DIA|VALOR|
+--------+--------+----+---+---+-----+
|      50|       7|2020|  1|  1| 58.0|
|      50|       8|2020|  1|  1| 64.0|
|      50|       9|2020|  1|  1| 23.0|
|      50|      10|2020|  1|  1| 30.0|
|      50|      12|2020|  1|  1|153.0|
+--------+--------+----+---+---+-----+

In [32]:
df_final = df_v6

#### [5] - EXPORTARLO

In [33]:
import pandas as pd #Más facil

In [37]:
df_final.toPandas().to_csv("/home/rulicering/Datos_Proyecto_Ozono/Procesado/Contaminacion_2019_2020.csv")

# GG

#### [AUX] -  MAGNITUDES & ESTACIONES

###### [!] - Faltas medidas de las magnitudes 37(Metaxileno), 38(Paraxileno) y 39(Ortoxileno)

In [19]:
df_MxE =df_v0.select("MAGNITUD","ESTACION").distinct().orderBy("MAGNITUD","ESTACION") 
df_M = df_MxE.select("MAGNITUD").distinct().orderBy("MAGNITUD",ascending= False)
df_E = df_MxE.select("ESTACION").distinct().orderBy("ESTACION",ascending= False)
print("Nº MAGNITUDES TOTAL:" ,df_M.count(), "-->17 - [37,38,39]")
print("Nº ESTACIONES TOTAL:" ,df_E.count())

Nº MAGNITUDES TOTAL: 14 -->17 - [37,38,39]
Nº ESTACIONES TOTAL: 24

In [20]:
print("Numero de MAGNITUDES leidas por ESTACIÓN")
df_MxE.groupBy("ESTACION").count().orderBy("Estacion").show()

Numero de MAGNITUDES leidas por ESTACIÓN
+--------+-----+
|ESTACION|count|
+--------+-----+
|       4|    5|
|       8|   14|
|      11|    6|
|      16|    5|
|      17|    5|
|      18|   10|
|      24|   14|
|      27|    4|
|      35|    6|
|      36|    6|
|      38|    9|
|      39|    5|
|      40|    5|
|      47|    5|
|      48|    5|
|      49|    4|
|      50|    5|
|      54|    4|
|      55|   10|
|      56|    7|
+--------+-----+
only showing top 20 rows

In [21]:
df_v2 = df_v1.groupBy("ESTACION").count()
df_v2.show()
# df_v2 = df_v1.select("ESTACION",df_v1["sum(MAGNITUD)"].alias("Maginitudes")).orderBy("ESTACION").show()

+--------+-----+
|ESTACION|count|
+--------+-----+
|      27| 1860|
|      47| 2325|
|      16| 2325|
|      40| 2325|
|      57| 2790|
|      54| 1860|
|      48| 2325|
|      17| 2325|
|      35| 2790|
|       4| 2325|
|      55| 4650|
|      59| 1860|
|       8| 6510|
|      39| 2325|
|      49| 1860|
|      50| 2325|
|      38| 4185|
|      24| 6510|
|      60| 2325|
|      56| 3255|
+--------+-----+
only showing top 20 rows